html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 12px;
}

body {
  background-color: rgb(165, 138, 207);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}
.signup {
  width: 700px;
  background-color: #f5f5f5;
  display: flex;
  margin: 25px auto 0;
  position: relative;
}
.signup > div {
  width: 50%;
}
.left {
  padding: 45px;
  background-color: white;
}
.form-inner {
  border: 1px solid #eee;
}
.form-group {
  padding: 15px;
}
.form-group:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.form-group label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 10px;
}
.form-group input {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #333;
}
.form-group input::-webkit-input-placeholder {
  color: #ccc;
}
.remember {
  text-align: center;
  margin: 25px 0;
}
button {
  display: block;
  padding: 20px;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 2px;
  background-color: #f87253;
  cursor: pointer;
}
.right {
  padding: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.right li a {
  display: flex;
  align-items: center;
  color: white;
  border-radius: 2px;
  width: 100%;
  padding: 15px 25px;
}
.right li.facebook a {
  background-color: #476ca9;
}
.right li.twitter a {
  background-color: #27b6e7;
}
.right li.google a {
  background-color: #d7482f;
}
.right li a i {
  font-size: 25px;
  margin-right: 30px;
}
.right li a span {
  font-size: 10px;
}
.right li:nth-of-type(2) {
  margin-top: 25px;
  margin-bottom: 25px;
}
.or {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #ddd;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.member {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 25px;
}
.member a {
  color: #f87253;
  text-decoration: underline;
}
