.header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

nav {
  width: 40%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

h1.logo {
  font-size: var(--fs-large);
}

a {
  text-decoration: none;
  color: inherit; /* Inherit the color of the parent element */
  transition: all 0.7s;
}

a:hover {
  color: var(--color-light-blue);
}

ul li {
  list-style: none;
}

span.user-name {
  color: var(--color-light-blue);
}
