/*____________________________________________ Header ________________________________________________*/
/*  Common propperties */
.header .header__navbar-item--strong {
    font-weight: 400;
}
.header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color) !important;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}


/*____________________ Navbar ____________________ */


.header {
    height: 120px;
    background: linear-gradient(#f53d2d,#f63);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 34px;
    margin-left: -10px;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item:hover .header__notify {
    display: block;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}
.fa-facebook {
    margin: 0 4px 0 4px !important;
}
.header__navbar-item:hover .header__qr {
    display: block;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;

}
.header__navbar-icon {
    font-size: 1.4rem;
    line-height: 18.4px !important;
    margin: 0 2px 0 4px;
}

.header__navbar-user {
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-img {
    height: 20px;
}
.header__navbar-user-name {
    padding-left: 5px;
    margin-top: 3px;
}

.header__navbar-user-menu {
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 160%;
    right: 0;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transform-origin: 70% 2%;
    animation: Grow ease 0.2s;
}
.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.header__navbar-user-menu::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.header__navbar-user-menu-list {
    list-style: none;
    padding-left: 0;
    width: 154px;
}   
.header__navbar-user-option {
    padding: 12px 16px;
}
.header__navbar-user-option:hover,  .header__navbar-user-option a:hover{
    background-color: rgba(0, 0, 0, 0.02);
    color: #05ddc0;
}
.header__navbar-user-option a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
}




/*__________  header QR code __________*/


/* .header__qr--fix-hover {
    position: absolute;
    top: 100%;
    left: 0;
    height: 16px;
    width: 186px;
} */
.header__qr::before {
    position: absolute;
    top: -16px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.header__qr {
    z-index: 1;
    display: none;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 200%;
    /* margin-top: 16px; */
    padding: 3px;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    animation: fadeIn ease-in-out 0.3s;
}

.header__qr-apps {
    width: calc(100% - 24px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px;
    justify-content: space-between;
}
.header__qr-img {
    width: 180px;
    /* animation: fadeIn ease 0.3s; */
}
.header__qr-link {
    width: calc(50% - 6px);
    
}
.header__qr-download-img {
    width: 100%;
    margin-top: 6px;
}


/*__________  Notification __________*/
.header__notify {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 404px;
    top: 150%;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    cursor: default;
    transform-origin: 85% 2%;
    animation: Grow ease 0.2s;
    will-change: opacity, transform;
    border-radius: 2px;
}
.header__notify::before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.header__notify::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;

}

.header__notify-list {
    padding-left: 0px;
}
.header__notify-item {
    
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-link:hover {
    background-color: rgba( 238, 75, 43, 0.05);
}
.header__notify-img {
    width: 36px;
    margin-right: 6px;
    object-fit: contain;
    align-self: flex-start;
}
.header__notify-info {

}
.header__notify-name,
.header__notify-description {
    display: block;
    
}
.header__notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__notify-description {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 300;
    color: #6e6b6b;
    margin-top: 4px;
}
.header__notify-footer {
    text-align: center;
    padding: 12px 16px;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
}

/* Language option */
.header__navbar-item:hover .header__navbar-language {
    display: block;
}
.header__navbar-language {
    z-index: 1;
    display: none;
    position: absolute;
    color: var(--text-color);
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    width: 200px;
    transform-origin: 70% 2%;
    animation: Grow ease 0.2s;
    will-change: opacity, transform;
    border-radius: 1px;
}
.header__navbar-language::before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.header__navbar-language::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 42px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.header__navbar__language-list {
    list-style: none;
    padding: 12px;
}
.header__navbar__language-item:hover {
    color: var(--primary-color);
}
.header__navbar__language-item + .header__navbar__language-item {
    margin-top: 20px;
}



/* Modal login */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}
.modal__body {
    margin: auto;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 4px;
    animation: zoomOut ease 0.2s;
    width: 400px;
}
.auth-form__header {
    padding: 22px 30px;
    display: flex;
    
}
.auth-form__heading {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}
.auth-form__qr {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}
.auth-form__qr-text {
    font-size: 1.4rem;
    padding: 11px 14px;
    margin-right: 16px;
    border: 2px solid #ffbf00;
    font-weight: 500;
    color: #ffbf00;
    position: relative;
    background-color: #fefaec;
    border-radius: 2px;
    cursor: default;
}
.auth-form__qr-text::before {
    position: absolute;
    right: 1px;
    content: "";
    height: 14px;
    width: 14px;
    background-color: #fefaec;
    box-sizing: border-box;
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    transform: rotate(45deg) translateX(85%);
}
.auth-form__qr-code img{
    width: 42px;
}
.auth-form__form {
    padding: 0 30px 30px;

}
.auth-form__group {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    border-radius: 2px;
}
.auth-form__input {
    padding: 12px;
    width: 100%;
    border: 0;
    border-radius: 2px;
    outline: none;
    font-size: 1.4rem;
    
}
.auth-form__icon {
    display: flex;
    padding: 0 15px 0 12px;
    font-size: 1.6rem;
    color: rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.auth-form__controls {
    padding: 0 30px 0;
    
}
.auth-form__btn {
    padding: 0 10px 0;
    color: var(--white-color);
    border: none;
    background-color: var(--primary-color);
    width: 100%;
    text-transform: uppercase;
    font-size: 1.6rem;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
}
.auth-form__controls-text {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.auth-form__controls-text-link {
    text-decoration: none;
    color: #05a;
    font-size: 1.2rem; 
}
.auth-form--separate {
    margin: 10px 30px 14px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth-form--separate-line {
    height: 1px;
    background-color: rgb(0, 0, 0, 0.1);
    flex: 1;
    width: 100%;
}
.auth-form--separate-text {
    line-height: 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.15);
    padding: 0 16px;
}
.auth-form__socials {
    padding: 0 25px 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.socials__btn {
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    box-sizing: border-box;
    cursor: pointer;
}
.socials__btn:hover {
    background-color: rgba(0,0,0,.02);
}
.socials__btn-img {
    width: 22px;
    margin: 0 4px;
}
.auth-form__footer {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
}
.auth-form__footer-link {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 4px;
    text-decoration: none;
}


/* Modal sign in */
.modal-sign-in {
    display: none;
}
.modal-sign-in .modal__body {
    width: 400px;
}
.modal-sign-in .auth-form__btn {
    margin-top: -15px;
    margin-bottom: 20px;
}
.modal-sign-in .auth-form_rules {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 30px;
}
.modal-sign-in .auth-form_rules-text {
    margin: 0;
}
.modal-sign-in .auth-form_rules-link {
    color: var(--primary-color);
    text-decoration: none;
}



/* Start modal */
.start-modal {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    z-index: 3;
    display: flex;
    justify-content: center;
}
.start-modal__container {
    height: 100%;
    width: 438px;
    display: flex;
    align-items: center;
    position: relative;
}
.start-modal__conntainer__img {
    background-image: url(../img/welcome-modal-3.png);
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
}
.start-modal__container__btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    position: absolute;
    right: -30px;
    top: 72px;
    cursor: pointer;
}
.start-modal__container__btn-icon {
    margin: auto;
    width: 14.1px;
    height: 14.1px;
    color: var(--black-color);
    
}



/* _____________ Search ____________ */

.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    height: 100%;
}


.header__logo {
    width: 202px;
}
.header__logo-img {
    width: 186px;
    padding-right: 36px;
    cursor: pointer;
}


.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: relative;
    display: flex;
    margin-top: -2px;
}


.header__cart {
    margin: 14px 78px 0 54px;
    position: relative;
    
}
.header__cart-quantity {
    position: absolute;
    top: -25%;
    right: -100%;
    background-color: var(--white-color);
    height: 19px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    border: 2px solid #ee4d2d;
}
.header__cart-quantity-text {
    font-size: 1.4rem;
    color: var(--primary-color);
    text-align: center;
}
.header__cart-icon {
    color: white;
    width: 26px;
    cursor: pointer;
}

.header__cart:hover .header__cart__products {
    display: block;
}

.header__cart__products {
    z-index: 1;
    border-radius: 2px;
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 120%;
    right: -140%;
    width: 404px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.15);
    transform-origin: 85% 2%;
    animation: Grow ease 0.2s;
}
.header__cart__products-header {
    font-size: 1.6rem;
    padding: 10px;
    color: rgb(0, 0, 0, 0.3);
}
.header__cart__products-list {
    padding: 0;
    margin-top: 0px;
}
.header__cart__products-list-item {
    display: flex;
    cursor: pointer;
}
.header__cart__products-list-item:hover {
    background-color: rgb(0, 0, 0, 0.03);
}
.product-img {
    height: 42px;
    margin: 10px;
}
.product-sale-tag {
    margin-right: 6px;
    border-radius: 2px;
    width: 80px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
}
.product-content {
    display: flex;
    padding: 10px 0;
    /* height: 42px; */
    width: 270px;
    font-size: 1.6rem;
    /* width: 200px; */
}
.product-name {
}
.product-price {
    margin: 10px;
    /* width: 42px; */
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart__products-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}
.header__cart__products::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.header__cart__products::after {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.header__cart__products-footer-text {
    margin: 10px;
    font-size: 1.2rem;
}
.header__cart__products-footer-btn {
    cursor: pointer;
    margin: 10px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    padding: 4px 16px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 16px;
}




.header__search-input-wrap {
    flex: 1;
    position: relative;
}
.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left:10px;
    border-radius: 2px;
    
}
.header__search__search-btn {
    background-color: #fb5533;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px 22px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}
.header__search__search-btn:hover {
    opacity: 0.9;
}
.header__search__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-top: 2px;
}


.header__search-suggest {
    width: 100%;
}
.header__search-suggest-list {
    color: var(--white-color);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 350;
    
}
.header__search-suggest-item {
    display: inline-block;
    cursor: pointer;
}
.header__search-suggest-item + .header__search-suggest-item {
    margin: 5px 0 5px 13px;
}


/* Search history */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history {
    display: none;
    top: 110%;
    width: 90%;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px #999;
}
.header__search-history-heading {
    padding: 10px;
    font-size: 1.6rem;
    margin: 0;
    padding: 10px;
    color: rgb(0, 0, 0, 0.2);
    font-weight: 400;
}
.header__search-history-list {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
    margin: 0;
}
.header__search-history-item {
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
}
.header__search-history-item:hover {
    background-color: #f8f8f8;
}
.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}




/* _________________________________________ Container __________________________________________ */

.container {
    margin-top: 119px;
    background-color: #f5f5f5;
    border-bottom: 4px solid var(--primary-color);
}
/* Banner */
.container__slider {
    padding: 30px 159.6px 8px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}
.container__banner {
    height: 235px;
    display: flex;
    width: 100%;
}
.container__banner-items {
    height: 100%;
    width: 100%;
}

.container__banner-items-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    overflow: hidden;
}


/* Slider */
#list-imgs {
    height: 100%;
    width: max-content;
    display: flex;
    position: absolute;
    transform: translateX(-796.66px);
}
#list-imgs a{
    width: 796.66px;
    height: 235px;
}
#list-imgs a div {
    width: 100%;
    height: 100%;
}
.container__banner-items-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__banner__dots-list {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.container__banner__dot-btn {
    height: 12px;
    width: 12px;
    background-color: var(--white-color);
    border-radius: 24px;
    display: inline-block;
    margin: 0 4px;
    transition: 0.5s;
    cursor: pointer;
}

.dot-active {
    width: 24px;
}


.container__banner-items:first-child {
    flex: 2;
}
.container__banner-items:hover .container__banner-nav {
    display: flex;
}
.container__banner-items:last-child {
    flex: 1;
    width: 100%;
    margin-left: 5px;
}

.container__banner-nav {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
    animation: fade ease 0.5s;
}
.container__banner-nav-btn {
    background-color: rgba(0,0,0,.18);
    border: none;
    height: 60px;
    width: 32px;
    color: var(--white-color);
    font-weight: 400;
    
}
.container__banner-nav-icon {
    font-size: 2rem;
    font-weight: 500;
}


/* Navbar */
.container__navbar {
    width: 100%;
    margin-top: 10px;
}
.container__navbar-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 108px;
}
.container__navbar-item {
    width: 100px;
    text-decoration: none;
    text-align: center;
}
.container__navbar-item:hover {
    transform: translateY(-1px);
}
.container__navbar-item-icon img {
    height: 100%;
}
.container__navbar-item-icon {
    height: 45px;
    width: 45px;
    margin: 18px 27.5px 8px;
}
.container__navbar-item-name {
    font-size: 1.3rem;
    color: var(--black-color);
}



/* Category */
.container__category {
    margin-top: 20px;
    background-color: var(--white-color);
    position: relative;
}
/* .container__category-list:hover .container__nav-btn {
    transform: scale(2);
} */
/* JS */
.container__category-content {
    width: 100%;
    overflow: hidden;
}
.container__category-header {
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.container__category-header-title {
    padding: 0 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 60px;
}
.container__category-list {
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.5s ease;
}
.container__category-list__item {
    height: 151px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__category-list__item:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.container__category-list__item-icon {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
}
.container__category-list__item-img {
    height: 80px;
    width: 80px;
}
.container__category-list__item-name {
    text-align: center;
    color: var(--text-color);
    font-size: 1.4rem;
    width: 90%;
    height: 30%;
}

.container__nav-btn__container {
    width: calc(100% + 25px);
    position: absolute;
    top: 50%;
    left: -12.5px;
    transform: translateY(-50%);
    /* display: flex;
    justify-content: space-between; */
}
.container__nav-btn {
    height: 25px;
    width: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.container__nav-btn:first-child {
    float: left;
    display: none;
}
.container__nav-btn:last-child {
    float: right;
}
.container__nav-btn-img {
    background-color: var(--white-color);
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container__nav-btn-icon {
    font-size: 1rem;
    margin: auto;
    color: var(--text-color);
}


/* Flash sale */
.container__flash-sale {
    margin-top: 20px;
    height: 308px;
    background-color: var(--white-color);
    
}
.container__flash-sale__content {
    /* padding: 15px; */
}


.container__flash-sale__content-header {
    padding: 15px 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container__flash-sale__content-header__title {
    background-image: url(../img/flash-sale.png);
    background-size: contain;
    width: 130px;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

/* Clock */
.container__flash-sale__content-header__clock {
    position: absolute;
    left: 100%;
    top: 5%;
    /* transform: translateY(-50%); */
    display: flex;
    justify-content: space-around;
    margin-left: 4px;
}
.container__flash-sale__content-header__time {
    font-family: 'Readex Pro', sans-serif;
    height: 16px;
    width: 22px;
    background-color: var(--black-color);
    color: var(--white-color);
    margin: 0 2px;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 550;
    letter-spacing: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}
.number-list {
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.5s ease;
    width: 8px;
}
.num-item {
    height: 16px;
    width: 9px;
    display: flex;
    align-items: center;
}



.container__flash-sale__content-header__nav {
    display: flex;
    align-items: center;
}
.container__flash-sale__content-header__nav-text {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.container__flash-sale__content-header__nav-icon {
    font-size: 1.2rem;
}


.container__flash-sale__content-products {
    height: 248px;
    position: relative;
}
.container__flash-sale__content-products__list-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.container__flash-sale__content-products__list {
    display: flex;
    position: relative;
    transition: all 0.5s ease;
}
.container__flash-sale:hover .container__nav-btn {
    transform: scale(2);
}
.container__flash-sale__content-products__item {
    width: 170px;
    height: 248px;
    margin: 0 15px;
    cursor: pointer;
}
.container__flash-sale__content-products__item-img {
    width: 170px;
    height: 170px;
    position: relative;
    background-size: contain;
}
.container__flash-sale__content-products__item-mall {
    position: absolute;
    left: -2px;
    top: 10px;
    background-color: rgb(208, 1, 27);
    height: 16px;
    width: 28px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.container__flash-sale__content-products__item-mall::before {
    position: absolute;
    top: 105%;
    left: 0;
    content: "";
    border-top: 2.4px solid;
    border-left: 2.4px solid transparent
}
.container__flash-sale__content-products__item-mall-img {
    height: 8px;
    padding: 0 4px;   
}
.container__flash-sale__content-products__item-img-benefits {
    position: absolute;
    height: 170px;
}
.container__flash-sale__content-products__item-img-percent {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffe97a;
    display: flex;
    align-items: center;
}
.container__flash-sale__content-products__item-img-percent-text {
    padding: 0 2.5px 0 8.5px;
    font-size: 1.4rem;
    
    color: var(--primary-color);
}
.container__flash-sale__content-products__item-img-percent svg {
    position: absolute;
    top: 0;
    left: -4px;
}
.container__flash-sale__content-products__item__price {
    height: 78px;
    width: 170px;
    padding: 15px 0;
    
}
.container__flash-sale__content-products__item__price-text {
    font-size: 1.8rem;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    line-height: 27px;
}
.container__flash-sale__content-products__item__price-unit {
    font-size: 1rem;
    transform: translateY(-2px);
    margin-right: 2px;
}
.container__flash-sale__content-products__item__quantity {
    margin: 0 10px;
    height: 16px;
    width: 150px;
    background-color: #ffbda6;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 8px;
}
.container__flash-sale__content-products__item__quantity-text {
    text-align: center;
    z-index: 1;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.2rem;
}
.container__flash-sale__content-products__item__quantity-remain {
    position: absolute;
    left: 0;
    background-image: url(../img/quantity.png);
    
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Banner 2 */
.container__banner-2 {
    margin-top: 20px;
    height: 110px;
    background-color: var(--white-color);
}
.container__banner-2__img {
    height: 100%;
}



/* Shopee Mall */
.container__shop-mall {
    background-color: var(--white-color);
    margin-top: 20px;
}
.container__shop-mall__content__products-list:hover .container__nav-btn {
    transform: scale(2);
}
.container__shop-mall__header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.container__shop-mall__header-content {
    display: flex;
    align-items: center;
    
}
.container__shop-mall__header-content__title {
    font-size: 1.8rem;
    color: #d0011b;
    border-right: 1px solid #d8d8d8;
    padding-right: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.container__shop-mall__header-content__text {
    display: flex;
    
}
.container__shop-mall__header-content__text + .container__shop-mall__header-content__text {
    margin-left: 15px;  
}
.container__shop-mall__header-content__text-icon {
    height: 17px;
    width: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
}
.container__shop-mall__header-content__name {
    font-size: 1.6rem;
    
}
.container__shop-mall__header-content__nav {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #d0011b;
    cursor: pointer;
}
.container__shop-mall__header-content__nav-btn {
    background-color: #d0011b;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: flex;
    margin-left: 8px;
}
.container__shop-mall__header-content__nav-icon {
    margin: auto;
    color: var(--white-color);
    font-size: 1.2rem;
    margin-right: 2.4px;
}

.container__shop-mall__content {
    display: flex;
    
}
.container__shop-mall__content__slider {
    width: 390px;
    height: 452px;
    /* padding: 10px 0 10px 10px; */
    margin: 10px 0 10px 10px;
    position: relative;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.container__shop-mall__content__slider:hover .container__shop-mall__content__slider-nav {
    display: flex;
}
.container__shop-mall__content__slider__list-imgs {
    height: 100%;
    width: max-content;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0s ease;
    transform: translateX(-390px);
}
.container__shop-mall__content__slider-img {
    height: calc(100% + 10px);  /* add padding 10px */
    width: 390px;
    background-repeat: no-repeat;
    background-size: contain;
}
.container__shop-mall__content__slider-nav {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: 1px;
    left: 0;
    transform: translateY(-50%);
    animation: fade ease 0.3s;
}
.container__shop-mall__content__slider-nav-btn {
    width: 35px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__shop-mall__content__slider-nav-icon {
    font-size: 2.2rem;
    color: var(--white-color);
}

.container__shop-mall__content__slider__dots-list {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 10px;
    text-align: center;
}
.container__shop-mall__content__slider__dot {
    margin: 0 4px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 20px;
    background-color: var(--white-color);
    transition: all 0.5s ease;
}
.shopMall_dot-active {
    width: 20px;
}



.container__shop-mall__content__products {
    position: relative;
    width: 800px;
}
.container__shop-mall__content__products:hover .container__nav-btn {
    transform: scale(2);
}
.container__shop-mall__content__products-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container__shop-mall__content__products-list {
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: all 0.5s ease;
}
.container__shop-mall__content__products-item {
    height: 236px;
    width: 200px;
    position: relative;
    overflow: hidden;
}
.container__shop-mall__content__products-item__img {
    margin: 10px;
    height: 100%;
    background-size: contain;
    cursor: pointer;
}
.container__shop-mall__content__products-item-name {
    position: absolute;
    bottom: 24px;
    left: 10px;
    right: 10px;
    text-align: center;
    font-size: 1.8rem;
    color: #d0011b;
}

.container__shop-mall__content__products_extra-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.container__shop-mall__content__products_extra-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.container__shop-mall__content__products_extra_item-name {
    font-size: 1.6rem;
    width: max-content;
    color: #d0011b;
    
}
.container__shop-mall__content__products_extra_item-icon {
    color: var(--white-color);
    background-color: #d0011b;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    
}
.container__shop-mall__content__products_extra_item-icon i {
    /* position: absolute; */
    transform: rotate(-90deg);
    background-color: transparent;
}

/* Top search */
.container__top-search {
    margin-top: 20px;
    background-color: var(--white-color);
    position: relative;
}
.container__top-search__header {
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.container__top-search__header-title {
    font-size: 1.7rem;
    color: var(--primary-color);
}
.container__top-search__header-nav {
    font-size: 1.4rem;
    padding: 5px 7px;
    color: var(--primary-color);
    cursor: pointer;
}
.container__top-search__header-nav__icon {
    transform: rotate(-90deg);
    color: var(--primary-color);
}

.container__top-search__content {
    overflow: hidden;
}
.container__top-search__list-products {
    display: flex;
    position: relative;
    transition: all 0.5s ease;
}
.container__top-search__list-products__item {
    margin: 20px 10px;
    cursor: pointer;
}
.container__top-search__list-products__item-img {
    height: 180px;
    width: 180px;
    background-size: contain;
    position: relative;
}
.container__top-search__list-products__item-sold {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.26);
    color: var(--white-color);
    width: 100%;
    line-height: 25px;
    font-size: 1.4rem;
    text-align: center;
}
.container__top-search__list-products__item-flag {
    background-image: url(../img/top-search-flag.png);
    height: 40px;
    width: 32px;
    background-size: contain;
}
.container__top-search__list-products__item-name {
    line-height: 1.4;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 20px;
}



/* Today suggest */
.container__to-day-sug {
    margin-top: 20px;
}


.container__to-day-sug__header {
    width: 100%;
    background-color: var(--white-color);
    padding: 15px 46px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid var(--primary-color);
}
.container__to-day-sug__header-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    line-height: 30px;
}


.container__to-day-sug__products-list {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   
.container__to-day-sug__products-item {
    width: calc(100% / 6 -10px);
    height: 294px;
    margin: 5px;
    border: 0.5px solid rgba(0,0,0,.0902);
    transition: all 0.3s ease;
    cursor: pointer;
}
.container__to-day-sug__products-item:hover {
    border: 1px solid var(--primary-color);
    transform: translateY(-1px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.container__to-day-sug__products-item__img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 186.8px;
    height: 186.8px;
    position: relative;
}
.container__to-day-sug__products-item__favorite {
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: -3px;
}

.container__to-day-sug__products-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    background-color: rgba(255, 233, 122, 1);
    display: flex;
    align-items: center;
}
.container__to-day-sug__products-item__sale-text {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 1px 4px;
}
.container__to-day-sug__products-item__benefit {
    height: 100%;
    background-size: contain;
}
.container__to-day-sug__products-item__type {
    background-color: rgba(0,0,0,.25882);
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: flex;
}
.container__to-day-sug__products-item__type-icon {
    color: var(--white-color);
    margin: auto;
}
.container__to-day-sug__products-item__type-text {
    color: var(--white-color);
    font-size: 1.2rem;
    margin: auto;
    line-height: 8px;
}



.container__to-day-sug__products-item__content {
    width: 186.8px;
    height: 104px;
    padding: 8px;
    background-color: var(--white-color);
}
.container__to-day-sug__products-item__content__name {
    font-size: 1.4rem;
    padding-bottom: 8px;
    display: block;
    color: var(--text-color);
}
.container__to-day-sug__products-item__content__voucher {
    width: 100%;
    display: flex;
    margin-bottom: 14px;
}
.container__to-day-sug__products-item__content__voucher-sale-of {
    height: 16px;
    display: flex;
}   
.container__to-day-sug__products-item__content__voucher-sale-of-text {
    background-color: rgb(246, 145, 19);
    padding: 0 1px;
    font-weight: 500;
    color: var(--white-color);
}
.container__to-day-sug__products-item__content__voucher-flash-sale {
    height: 16px;
    color: var(--primary-color);
    display: flex;
}
.container__to-day-sug__products-item__content__voucher-flash-sale-text {
    height: 16px;
    position: relative;
}
.container__to-day-sug__products-item__content__voucher-flash-sale-text::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    top: 0px;
}
.container__to-day-sug__products-item__content__voucher-flash-sale-text::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    bottom: 0.3px;
}
.container__to-day-sug__products-item__content__price {
    display: flex;
    justify-content: space-between;
}
.container__to-day-sug__products-item__content__price-text {
    font-size: 1.6rem;
    color: var(--primary-color);
    display: flex;
}
.container__to-day-sug__products-item__content__price-unit {
    font-size: 1.2rem;
    
}   
.container__to-day-sug__products-item__content__price-sold {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}   



.container__to-day-sug__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 70px;
    
}
.container__to-day-sug__footer-btn {
    height: 38.4px;
    width: 348.4px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.1);
}
.container__to-day-sug__footer-btn:hover {
    background-color: rgba(0, 0, 0, 0.01);
}
.container__to-day-sug__footer-btn-text {
    font-size: 14px;
    color: var(--text-color);
}






/*_____________________________________________________ Footer _________________________________________________________*/


.footer {
    margin-top: 40px;
}
.footer__information {
    display: flex;
}
.footer__information__transport {
    display: flex;
    flex-direction: column;
}
.footer__information__trans__header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
.footer__information__socials__list-item {
    display: flex;
    align-items: center;
}


.footer__information__download {
    width: 200px;
}
.footer__information__download-header {

}
.footer__information__download__list {
    display: flex;
}
.footer__information__download__list-qr {
    height: 88px;
    width: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    margin-right: 12px;
    cursor: pointer;
}
.footer__information__download__list-store {

}
.footer__information__download__list-store-item {
    margin-bottom: 8px;
    width: 76px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    cursor: pointer;
}
.footer__information__download__list-store-item-img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Chatbox */
.container__chat-box {
    height: 48px;
    width: 100px;
    background-color: var(--primary-color);
    border-top-left-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 10px;
    cursor: pointer;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.08);
}
.container__chat-box__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__chat-box__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    justify-content: center;
}
.container__chat-box__text {
    height: 22px;
    width: 44px;
}
.container__chat-box__quantity {
    position: absolute;
    height: 18px;
    color: var(--white-color);
    background-color: var(--primary-color);
    position: absolute;
    top: -9px;
    right: -4px;
    border: 1px solid var(--white-color);
    padding: 1px 5px;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 1.2rem;
}


/* Chat Modal */

.chat-modal__container {
    width: 642px;
    /* box-sizing: border-box; */
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 8px;
    display: grid;
    display: none;
    background-color: var(--white-color);
    grid-template-columns: 224px 416px;
    grid-template-rows: 40px 460px;
    grid-template-areas: 
    "header header"
    "list   chatErea"
    ;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    transform-origin: 100% 100%;
    overflow: hidden;
}
.chat-modal__header {
    /* grid-column: 1 / 3; */
    width: 640px;
    grid-area: header;
    padding: 0 12px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    box-shadow: -2px 1px 2px 0px rgba(0, 0, 0, 0.08);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    transition: all 0.3s ease;
}
.chat-modal__header-name {
    position: relative;
    width: max-content;
}
.chat-modal__header__name-text {
   
}
.chat-modal__header__name-icon {
    display: block;
    height: 22px;
    width: 44px;
    line-height: 0;
}
.chat-modal__header__name-quantity {
    position: absolute;
    top: 2px;
    right: -28px;
    font-size: 1.2rem;
    color: var(--primary-color);
}
.chat-modal__header__buttons {
    height: 16px;
}
.chat-modal__header__btn {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 16px;
    cursor: pointer;
    fill: var(--text-color);
}
.chat-modal__header__btn:hover {
    opacity: 0.7;
}



.chat-modal__shops-container {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    
}
.chat-modal__shops__search {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}
.chat-modal__shops__input-box {
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
    /* width: 130px; */
    transition: all 0.3s ease;
}
.chat-modal__shops__input-box:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.chat-modal__shops__search-icon {
    color: #999;
    padding-left: 12px;
    padding-right: 4px;
    font-size: 1.4rem;
}
.chat-modal__shops__input {
    border: none;
    color: #333;
    font-size: 1.4rem;
    width: 100%;
    padding-right: 12px;
    height: 24px;
    outline: none;
} 
.chat-modal__shops__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}
.chat-modal__shops__button {
    display: flex;
    align-items: center;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
}
.chat-modal__shops__button__text {
    color: var(--text-color);
    font-size: 1.5rem;
    width: 42px;
}
.chat-modal__shops__button__icon {
    color: #999;
    margin-left: 4px;
    font-size: 1.4rem;
}

.chat-modal__shops__button__menu {
    display: none;
    flex-wrap: wrap;
    background-color: var(--white-color);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    padding: 8px 0;
    
}
.chat-modal__shops__button__seclect {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 16px 8px 20px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}
.chat-modal__shops__button__seclect:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.chat-modal__shops__button__select-text {
    white-space: nowrap;
    font-size: 1.4rem;
    color: var(--text-color);
}


.open__chat-button-menu {
    animation: zoomOut 0.2s ease;
    transform-origin: 80% 0;
}
.close__chat-button-menu {
    animation: zoomIn 0.1s ease;
    transform-origin: 80% 0;
}



.chat-modal__shops__list {
    height: 460px;
    grid-area: list;
    overflow: scroll;
    overscroll-behavior-y: none;
}
.chat-modal__shops__list::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}
.chat-modal__shops__list::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 3px;
}
.chat-modal__shops__item {
    width: 220px;
    cursor: pointer;
    transition: all 0.15s ease;
}
.chat-modal__shops__item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.chat-modal__shops__item-info {
    padding: 12px;
    display: flex;
}
.chat-modal__shops__item__avt {
    height: 32px;
    width: 32px;
    background-size: contain; 
    background-repeat: no-repeat;
}
.chat-modal__shops__item__content {
    display: flex;
    flex-wrap: wrap;
    width: 156px;
    height: 38px;
    margin-left: 8px;
}
.chat-modal__shops__item__name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 8px;
    width: 98px;
}
.chat-modal__shops__item__daytime {
    font-size: 1.2rem;
    color: var(--text-color);
    width: 50px;
}
.chat-modal__shops__item__message {
    font-size: 1.4rem;
    margin-top: 4px;
    width: 100%;
}

.chat-modal__chat-erea {
    background-color: #f3f3f3;
}
.chat-modal__chat-erea__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    
}
.chat-modal__chat-erea__icon {
    
}
.chat-modal__chat-erea__text {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
}