*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 40px;
}
.range {
  width: 600px;
  border: 1px solid #aaa;
  background: white;
  height: 50px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.process {
  background: linear-gradient(to right, #bb69cc, #246bac);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
#slider {
  appearance: none;
  height: 50px;
  width: 600px;
  border-radius: 25px;
  background: green;
}
#slider::-webkit-slider-thumb {
  appearance: none;
  height: 50px;
  width: 50px;
  background: yellow;
  border-radius: 50%;
  border: 2px solid white;
}
