@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #141824;
  color: white;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
  font-size: 1.5rem;
}

.btn {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgb(249, 250, 251);
}

.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn:focus-visible {
  box-shadow: none;
}

.btn.danger {
  background-color: #e75454;
  border: 1px solid #e75454;
  color: white;
}

.btn.danger:hover {
  background-color: #f16363;
}

.center {
  text-align: center;
}

/* DeactivateAccountModal ------------------------------- */

.warning-icon {
  width: 30px;
  height: 30px;
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.modal-container {
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 400px;
  margin: auto;
  padding: 1.5rem 1.5rem;
  padding-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.modal.hide {
  /* opacity: 0; */
  background-color: transparent;
  pointer-events: none;
}

.modal.hide .modal-container {
  opacity: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: rgb(107 114 128);
}

.modal-content h2 {
  color: rgb(18, 18, 18);
}

.modal-content p {
  line-height: 1.5;
  font-size: 0.825rem;
}

.modal-content .warning-icon {
  background-color: rgba(255, 193, 7, 0.2);
  color: #ffc107;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 9px;

  width: 40px;
  height: 40px;
}

.modal-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.75rem;
}

/* SearchUsername ------------------------------- */

.search-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(107 114 128);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.search-input {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.75rem;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: rgb(107 114 128);
}

.search-input input {
  width: 100%;
  border: none;
  color: rgb(107 114 128);
}

.search-input input:focus {
  /* width: 100%; */
  border: none;
  outline: none;
}

.search-results {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ededed;
  max-height: 300px;
  overflow: auto;
}

.search-results .item {
  font-size: 0.625rem;
  padding: 0.5rem 0.725rem;
}

.search-results .item:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(81, 81, 228);
}
