body {
  margin: 0px;
  padding: 0px;
}
.footer {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: Arial;
}
button {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 15vh;
  cursor: pointer;
  background-color: rgb(204, 0, 153);
  border-radius: 1vh;
  border: none;
  outline: none;
  padding: 3vh;
  padding-left: 4vh;
  opacity: 0.5;
}
button:hover {
  opacity: 1;
}

.title {
  position: absolute;
  font-family: Brush Script MT;
  font-size: 10vh;
  top: 2vh;
  pointer-events: none;
  width: 100vw;
  text-align: center;
}
