.button{
  background-color: #777777;
  border: none;
  color: white;
  cursor: pointer;
  line-height: 1.2;
  font-size: 1.4rem;
  padding: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
