.image{
  width: 35rem;
  cursor: pointer;
  margin-bottom: .7rem;
}
.image--selected{
  border: 2px solid black;
}

.modal {
  max-width: 640px;
  overflow: scroll;
  border: transparent;
  padding: 15px;
  position: absolute;
  background-color: #fff;
  outline: 0;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__image {
  width: 100%;
}