.rounded-1 {
  border-radius: 1px !important;
}
.rounded-2 {
  border-radius: 2px !important;
}
.rounded-3 {
  border-radius: 3px !important;
}
.rounded-4 {
  border-radius: 4px !important;
}
.rounded-5 {
  border-radius: 5px !important;
}
.rounded-6 {
  border-radius: 6px !important;
}
.rounded-7 {
  border-radius: 7px !important;
}
.rounded-8 {
  border-radius: 8px !important;
}
.rounded-1 {
  border-radius: 1px !important;
}
.rounded-10 {
  border-radius: 10px !important;
}
.rounded-11 {
  border-radius: 11px !important;
}
.rounded-12 {
  border-radius: 12px !important;
}
.rounded-13 {
  border-radius: 13px !important;
}
.rounded-14 {
  border-radius: 14px !important;
}
.rounded-15 {
  border-radius: 15px !important;
}
.rounded-16 {
  border-radius: 16px !important;
}
.rounded-17 {
  border-radius: 17px !important;
}
.rounded-18 {
  border-radius: 18px !important;
}
.rounded-19 {
  border-radius: 19px !important;
}
.rounded-20 {
  border-radius: 20px !important;
}
