body {
  background: #141824;
  color: white;
}

a {
  color: white;
}

.invoices {
  display: flex;
}

.invoices nav {
  border-right: 1px solid;
  padding: 1rem;
}

nav .invoice-item {
  display: block;
  margin: 1rem 0;
}

.invoice-detail {
  padding: 1rem;
}
