.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px;
  width: 250px;
  min-height: 450px;
}

.task-card-half {
  height: 50%;
  overflow: hidden;
}

button {
  width: 120px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
}

button.delete {
  background: rgb(243, 40, 57);
}

button.add {
  background: rgb(101, 206, 118);
}

.tasks-completed {
  font-size: 40px;
  margin: 5px;
}
