.ToDoInput {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 10px 20px #f0f0f0);

  input {
    flex-grow: 1;
    padding: 16px 20px;
    max-width: 587px;
    height: 57px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(90, 90, 90);
    border: none;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    transition: all 0.075s ease-in-out;

    &:focus-visible {
      box-shadow: 0 0 8pt -3pt #07fdfd, 0 0 8pt -3pt #4d69fe, 0 0 8pt -3pt #cc00ff;
    }
    &::-webkit-input-placeholder {
      /* Edge */
      color: rgba(90, 90, 90, 0.25);
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(90, 90, 90, 0.25);
    }
    &::placeholder {
      color: rgba(90, 90, 90, 0.25);
    }
  }

  .btn__add {
    padding: 16px 25px;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    background: linear-gradient(82.87deg, #07fdfd -2.81%, #4d69fe 43.36%, #cc00ff 95.68%);
    border: none;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    transition: all 0.075s ease-in-out;

    &:focus-visible {
      box-shadow: 0 0 8pt -3pt #07fdfd, 0 0 8pt -3pt #4d69fe, 0 0 8pt -3pt #cc00ff;
    }
    &:active {
      scale: 1.1;
    }
  }
}
