.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #e49a9a;
  padding: 10px 20px;
  /* border: 5px dashed rgb(69, 42, 165); */
  width: 50%;
  padding: 10px;
  /* margin-left: 10px; */
  /* xác định chiều rộng thực tế đã bao gồm padding, border */
  box-sizing: border-box;
  margin-bottom: 20px;
}
