.leftlayout {
  background-color: red;
}

.rightlayout {
  /* background-color: blue; */
  display: block;
  padding-top: 60px;
}

.rightlayout p {
  font-weight: 700;
}

.rightlayout-item {
  padding-left: 20px;
  padding: 5px 0px 5px 0px;
}

.rightlayout-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.my-container {
  padding: 0px 10% 0px 10%;
}
