.square {
  font-size: 2rem;
  height: 48px;
  width: 48px;
  text-align: center;
  border: 2px solid var(--color-light-blue);
  background: none;
  cursor: pointer;
  place-items: center;
}

#correct {
  border: none;
  animation: flip 1s linear;
  background-color: rgb(3, 164, 100);
}

#almost {
  border: none;
  animation: flip 1s linear;
  background-color: rgb(255, 213, 0);
}

#wrong {
  border: none;
  animation: flip 1s linear;
  background-color: rgb(72, 72, 72);
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}
