@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #0999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url(../img/background.png) no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* Tabs */
.tabs {
  background-color: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-style: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  padding: 1rem;
}
.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: 4px solid var(--primary-color);
}

/* Tab content  */

.tab-content {
  padding: 3rem 0;
  background-color: #000;
  color: #fff;
}

/* hide content initially  */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background-color: #222;
}

/* ask quetion  */

.list-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 50px auto;
  font-size: 1.4rem;
}

.list-question {
  margin-bottom: 10px;
  width: 800px;
  cursor: pointer;
}

.question {
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding: 40px;
  background-color: #303030;
  position: relative;
  width: 100%;
  color: #fff;
}
.question h3 {
  line-height: 1.2;
}
.question i {
  font-size: 3rem;
  font-weight: 500;
}

.answer {
  margin-top: 5px;
  padding: 40px;
  background-color: #303030;
  display: none;
  opacity: 0;
  font-weight: 300;
}

.fa-x {
  font-size: 1.5rem !important;
}

/* contact  */
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 20px;
  width: 70%;
}

.contact-input {
  padding: 5px 20px;
  font-size: 1rem;
  width: 100%;
  max-width: 70%;
  height: 40px;
  outline: none;
  border: none;
}

/* Footer   */

footer {
  border-top: solid #3d3d3d;
  margin-top: 50px;
}

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
  padding: 2rem 0;
}

.footer,
.footer a {
  color: #999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

/* container  */
.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 0 2rem;
}

/* text styles  */
.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-center {
  text-align: center;
}
.text-dark {
  color: #999;
}
/* button  */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 3rem;
}
.btn-md {
  font-size: 2rem;
}

.btn-sm {
  font-size: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }
  .showcase-content h1 {
    font-size: 2rem;
  }
  .list-questions {
    font-size: 1rem;
  }
  .list-question {
    width: 500px;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }
  .answer,
  .question {
    padding: 10px;
    font-weight: 300;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 2rem;
    padding: 1.4rem 2rem;
  }
  .btn-lg {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }

  .btn-md {
    font-size: 1.2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }
  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .list-question {
    width: 100%;
    max-width: 300px;
  }
}
