<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        const ssoToken = $('#ssoToken').val()
        const redirectURL = `${localStorage.getItem(
          'clientURL'
        )}/code?ssoToken=${ssoToken}`

        localStorage.removeItem('clientURL')
        window.location.href = redirectURL
      })
    </script>
  </head>
  <body>
    <input
      id="ssoToken"
      hidden
      value="<%= ssoToken %>"
    />
  </body>
</html>
