* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* CSS title */
h2 {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  margin: 10px;
  padding: 10px;
  background-color: violet;
  border-radius: 10px;
}

/* CSS select */
#sort {
  width: 30%; /* Điều chỉnh kích thước của select box tùy theo nhu cầu */
  margin: 0 auto; /* Canh giữa theo chiều ngang */
  display: block; /* Để đảm bảo nó nằm trên một dòng riêng biệt */
  font-size: 16px; /* Điều chỉnh kích thước chữ */
  padding: 5px; /* Tùy chỉnh khoảng cách giữa nội dung và viền */
  border: 1px solid #ccc; /* Đường viền để tạo cảm giác đẹp hơn */
  border-radius: 5px; /* Để làm tròn các góc */
}

label[for='sort'] {
  display: block; /* Đảm bảo label nằm trên một dòng riêng biệt */
  text-align: center; /* Canh giữa label theo chiều ngang */
  margin-bottom: 10px; /* Tùy chỉnh khoảng cách giữa label và select box */
}

#sort {
  display: flex;
  text-align: center;
  align-items: center;
}

/* Center the label */
label {
  display: block;
  margin: 20px auto; /* Center the label horizontally */
  font-size: 16px;
  color: #333;
  text-align: center; /* Center the text within the label */
}

/* Style for the input field */
#search {
  width: 60%; /* Reduce the width to make it smaller */
  padding: 5px; /* Reduce the padding */
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 18px; /* Reduce the font size to make it smaller */
  outline: none;
  display: block; /* Make the input field a block-level element */
  margin: 0 auto; /* Center the input field horizontally within the label */
}

/* Style the placeholder text */
#search::placeholder {
  color: #999;
}

/* Add some hover effect for the input field */
#search:hover {
  border-color: #0056b3;
}

/* Add focus styles for the input field */
#search:focus {
  border-color: #007bff;
}

#table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#table th,
#table td {
  padding: 10px;
  text-align: center;
}

#table th {
  background-color: #007bff;
  color: #fff;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #e0e0e0;
}

/* CSS pagination */
#pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
