#status {
  font-size: 22px;
}

#result {
  font-size: 15px;
  color: brown;
}

button {
  font-weight: bold;
  margin-top: 2%;
  color: brown;
  padding: 2% 3%;
  background: #ddd;
  border-radius: 2%;
}

body {
  text-align: center;
}
