.wrapper {
  .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}

.input-otp {
  .input-otp-container {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: var(--web-text);

    .otp-input {
      height: 40px;
      width: 40px;
      border: 2px solid var(--web-text);
      border-radius: 4px;
    }
    .otp-input-focused {
      height: 40px;
      width: 40px;
      border-radius: 4px;
    }
  }
  .input-otp-hidden {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}
