/**
 * Author: TrungQuanDev - Một Lập Trình Viên
 * Channel: https://youtube.com/@trungquandev
 * Created at: Feb 09, 2024
 */
 
/* Some variables */
:root {
  --title-font-size: clamp(4rem, 6vw, 6rem);
  --title-letter-spacing: clamp(-1px, -0.5vw, -3px);
  --bg-color: black;
  --color-01: #45aaf2; /* High Blue */
  --color-02: #ffc312; /* Sun Flower */
  --color-03: #26de81; /* Reptile Green */
  --color-04: #d980fa; /* Lighter Purple */
}

/* Some Keyframes for amination */
@keyframes animate-color-01 {
  0% { top: 0; right: 0; }
  50% { top: 100%; right: 75%; }
  75% { top: 100%; right: 25%; }
  100% { top: 0; right: 0; }
}
@keyframes animate-color-02 {
  0% { top: -50%; left: 0; }
  60% { top: 100%; left: 75%; }
  40% { top: 100%; left: 25%; }
  100% { top: -50%; left: 0; }
}
@keyframes animate-color-03 {
  0% { bottom: 0; left: 0; }
  40% { bottom: 100%; left: 75%; }
  60% { bottom: 40%; left: 50%; }
  100% { bottom: 0; left: 0; }
}
@keyframes animate-color-04 {
  0% { bottom: -50%; right: 0; }
  50% { bottom: 0; right: 40%; }
  80% { bottom: 50%; right: 25%; }
  100% { bottom: -50%; right: 0; }
}

.container {
  width: 100vw;
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fireworks-area > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.content {
  position: absolute;
  color: white;
  text-align: center;
}

h1.title {
  font-size: var(--title-font-size);
  letter-spacing: var(--title-letter-spacing);
  font-weight: 800;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  margin: 0;
}

.animate-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  mix-blend-mode: darken;
}

.animate-color__item {
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  position: absolute;
  background-color: var(--color-01);
  filter: blur(1.5rem);
  mix-blend-mode: overlay;
}

.animate-color__item:nth-of-type(1) {
  top: -50%;
  animation: animate-color-01 6s ease-in-out infinite alternate;
}

.animate-color__item:nth-of-type(2) {
  background-color: var(--color-02);
  top: 0;
  right: 0;
  animation: animate-color-02 6s ease-in-out infinite alternate;
}

.animate-color__item:nth-of-type(3) {
  background-color: var(--color-03);
  left: 0;
  bottom: 0;
  animation: animate-color-03 4s ease-in-out infinite alternate;
}

.animate-color__item:nth-of-type(4) {
  background-color: var(--color-04);
  right: 0;
  bottom: -50%;
  animation: animate-color-04 12s ease-in-out infinite alternate;
}

.author {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.author a {
  color: #dfe4ea;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 17px;
}
.author a:hover {
  color: #ff7979;
}
