body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom css*/

.nav-item.dropdown>a::after {
  content: none;
}

.fa-shopping-cart {
  font-size: 22px;
}

.img-fluid {
  width: 75px;
}

.card-img-top {
  height: 215px;
}

.navbar-brand {
  background: linear-gradient(to right, #ff9900, #ff3366);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cart-dropdown {
  width: 600px;
}

.dropdown-toggle::after {
  content: none; 
}