.profile-container {
  user-select: none;
  --width-container: 1250px;

  .profile-content {
    width: 100%;
    height: 100%;

    .profile-head {
      width: 100%;
      background-color: var(--web-light);
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-head-bg {
        margin: 0 auto;
        width: var(--width-container);
        position: relative;
        height: 400px;
        background: url('https://www.wallpaperflare.com/static/452/719/684/programming-code-php-black-wallpaper.jpg')
          no-repeat center/cover;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      .profile-head-content {
        width: 100%;
        max-width: var(--width-container);
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 32px 16px;

        .avt-profile-img {
          border: 5px solid var(--web-light);
          transform: translateY(-38px);

          display: flex;
          justify-content: center;
          align-items: center;
          width: 168px;
          height: 168px;
          border-radius: 50%;
          background-color: var(--web-light);
          margin-right: 16px;

          .avt-profile-link {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #fff;
          }
        }

        .user-name {
          font-weight: 700;
          font-size: 32px;

          .sub-name {
            font-size: 14px;
            color: var(--web-subtext);
          }
        }
      }

      .divider {
        margin: 0 auto;
        width: calc(var(--width-container) - 64px);
        border-top: 1px solid var(--divider);
      }
    }

    .profile-nav {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: auto;
      background-color: var(--web-light);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;

      .profile-nav-content {
        list-style: none;
        display: flex;
        padding: 0 32px;
        width: 100%;
        max-width: var(--width-container);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile-avt {
          display: flex;
          align-items: center;
          animation: showUp 0.2s linear;

          @keyframes showUp {
            from {
              transform: translateY(-10%);
              opacity: 0;
            }
            to {
              transform: translateY(0);
              opacity: 1;
            }
          }

          .profile-avt-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 16px;

            img {
              width: 100%;
              height: 100%;
              border-radius: inherit;
            }
          }

          .profile-avt-name {
            font-size: 16px;
            font-weight: 500;
          }
        }

        .profile-nav-items {
          display: flex;
          align-items: center;
          .nav-item {
            color: var(--web-subtext);
            padding: 0 16px;
            line-height: 54px;
            font-weight: 600;
            font-size: 14px;
            transition: 0.2s linear;
            cursor: pointer;

            &:hover {
              background-color: var(--web-hover);
              border-radius: 8px;
            }

            &.active {
              color: var(--web-active-fa);
              border-bottom: 4px solid var(--web-active-fa);

              &:hover {
                background-color: unset;
                border-radius: unset;
              }
            }
          }
        }
      }
    }

    .profile-body {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      max-width: calc(var(--width-container) - 64px);

      .user-info {
        display: flex;
        gap: 24px;

        .activity-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 16px;
          height: 100%;

          .introduction {
            background-color: var(--web-light);
            border-radius: 8px;
            padding: 12px;
            min-width: 360px;

            .introduction-title {
              text-transform: capitalize;
              font-weight: 700;
              font-size: 20px;
            }

            .introduction-content {
              padding: 6px;

              .introduction-content-item {
                line-height: 1.6;
                font-size: 14px;
                margin: 16px 0;
                span {
                  color: var(--web-subtext);
                }

                span:nth-child(2) {
                  margin-left: 10px;
                  color: var(--web-subtext);
                }
              }
            }
          }

          .activity {
            background-color: var(--web-light);
            border-radius: 8px;
            padding: 12px;

            .activity-title {
              text-transform: capitalize;
              font-weight: 700;
              font-size: 20px;
            }

            .activity-content {
              padding: 6px;

              .activity-content-item {
                margin: 16px 0;
                font-size: 14px;
                span {
                  color: var(--web-subtext);
                }
              }
            }
          }
        }

        .course-registered-box {
          border-radius: 8px;

          .courses {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .course-item {
              width: 100%;
              cursor: pointer;

              .course-item-content {
                background-color: var(--web-light);
                display: flex;
                border-radius: 8px;
                min-width: 50%;

                .course-banner {
                  margin-right: 20px;
                  padding: 16px;

                  .course-banner-link {
                    border-radius: 8px;
                    width: 240px;
                    height: 150px;
                  }
                }

                .course-content {
                  padding: 16px;

                  .course-title {
                    font-weight: 700;
                    font-size: 18px;
                  }

                  .course-description {
                    font-size: 16px;
                    padding-top: 12px;
                    line-height: 1.5;
                    color: var(--web-subtext);
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  }
                }
              }
            }
            .course-item:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}
