@layer components {
  .three-d-interaction-card {
    perspective: 1000px;
    transform-style: preserve-3d;

    .three-d-interaction-card__wrapper {
      transform: rotateX(calc(var(--mouse-y) * 1deg))
        rotateY(calc(var(--mouse-x) * 1deg));
      transition: 150ms linear;

      .three-d-interaction-card__shadow {
        background-image: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.8),
            transparent
          ),
          linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
      }

      .three-d-interaction-card__content {
        transform-style: preserve-3d;
        perspective: 1000px;

        .three-d-interaction-card__title {
          transform: translateZ(var(--mouse-focus-title))
            translateX(calc(var(--mouse-y) * 1px))
            translateY(calc(var(--mouse-x) * 1px));
          transition: 300ms ease;
        }

        .three-d-interaction-card__desc {
          transform: translateZ(var(--mouse-focus-desc))
            translateX(calc(var(--mouse-y) * 1px))
            translateY(calc(var(--mouse-x) * 1px));
          transition: 300ms ease;
        }
      }
    }
  }

  .dark {
    .three-d-interaction-card {
      .three-d-interaction-card__wrapper {
        .three-d-interaction-card__shadow {
          background-image: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.8),
              transparent
            ),
            linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
        }
      }
    }
  }
}
