.box {
  width: 500px;
  height: 100px;
  background-color: #ccc;
  background-clip: content-box;
  border: 10px solid red;

  /* Cách viết đầy đủ 👎*/
  /* padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px; */

  /* Cách viết ngắn gọn 👍 */
  padding: 10px 20px;
}
