@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", monospace;
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  grid-template-columns: 100%;
}

.message {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  left: 0;
  z-index: 0;
  color: #871a85;
  font-size: 1rem;
  text-shadow: 0 0 1rem #871a85;
  line-height: 1.2;
}

.container {
  width: 100%;
  background: #270245;
  display: grid;
  place-content: center;
  margin: auto;
  overflow: hidden;
  min-height: 100vh;
  grid-template-columns: 100%;
}

.crt {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: repeating-linear-gradient(to bottom, transparent, transparent 0.125rem, #270245 0.125rem, #270245 0.25rem);
  opacity: 0.8;
  z-index: 2;
}
.crt::before {
  display: none;
}
.crt::after {
  content: "";
  width: 100%;
  height: 24px;
  background: rgba(255, 255, 255, 0.02);
  position: absolute;
  top: 100%;
  left: 0;
  animation: roll 5s linear infinite;
}

.symbol {
  stroke-dasharray: 3000;
  margin: auto;
  width: 100%;
  max-width: 320px;
  animation: loop 2s infinite cubic-bezier(0.65, 0, 0.35, 1), pulse 10s infinite steps(1, end);
}
@media (max-width: 1911px) {
  .symbol {
    left: 0 !important;
    top: 0 !important;
  }
}

/*********************************************************************************************
	Small screens
**********************************************************************************************/
@media (min-width: 800px) {
  body::after {
    content: "";
    width: 240px;
    height: 50vw;
    position: absolute;
    bottom: 0;
    left: calc(50% - 120px);
    background: linear-gradient(to right, #eee2, #eeef, #4447);
    box-shadow: inset 1rem 2rem 3rem 1rem #3334, -8px 8px 8px 8px #fff8, inset 0 4px 4px 4px #eeef, 0 0 0 2rem #eeef, 2rem 2rem 3rem 1rem #4446, inset -1px 3px 1px 3px #fff9;
    display: block;
    z-index: -1;
  }

  .container {
    min-height: 600px;
    width: 800px;
    border-radius: 35%/30%;
    box-shadow: -16px -16px 8px -16px #0005, inset 16px 16px 32px 16px #0008, inset 32px 32px 32px 8px #fff5, inset -16px -16px 32px 16px #0008, -16px -16px 23px 0px #fffc, 16px 16px 23px 0px #fffa, 8px 8px 8px 16px #0003, -8px -8px 8px 16px #fff3, 0 0 0 32px #bbbf, 42px 42px 42px 32px #0003, -16px 16px 32px 16px #0007;
  }

  .message {
    color: #feff38;
    text-shadow: 0 0 1em #feff38;
  }
  .message::after {
    width: 1ch;
    height: 1em;
    content: "";
    position: absolute;
    animation: flicker 1s infinite steps(1, end);
  }
}
/*********************************************************************************************
	Medium screens
**********************************************************************************************/
@media (min-width: 1200px) {
  body {
    transform: translateY(-15vmin);
  }
  body::after {
    content: "";
    width: 46vmin;
    height: 64vmin;
    background: #eee;
    position: absolute;
    border-radius: 24px;
    border-bottom-right-radius: 10vmin;
    left: calc(50% - 23vmin);
    top: calc(50% - 19.5vmin);
    box-shadow: inset -8px -8px 4px 0 #eeec, inset -20px -10px 16px 0 #3331, inset 8px 8px 4px 0 #eeef, inset 12px 8px 8px 0 #ffff;
  }
  body::before {
    content: "+";
    font-family: sans-serif;
    font-weight: bold;
    width: 4vmin;
    height: 4vmin;
    font-size: 16vmin;
    position: absolute;
    border-radius: 4vmin;
    left: calc(50% - 20vmin);
    top: calc(50% + 20vmin);
    line-height: 0.9;
    text-shadow: 2px 2px 2px #3338, -2px -2px 2px #fff8;
    box-shadow: 34.75vmin 4vmin 0.75vmin -0.5vmin #fff2, 35vmin 4.25vmin 0 0 #9b2057, 35.2vmin 4.45vmin 0.1vmin 0 #861c4b, 28.75vmin 6.25vmin 0.75vmin -0.5vmin #fff2, 29vmin 6.5vmin 0 0 #9b2057, 29.2vmin 6.7vmin 0.1vmin 0 #861c4b;
  }

  .container {
    border-radius: 2px;
    min-height: 27vmin;
    width: 30vmin;
    margin: 48px auto;
    background: #a09f43;
    box-shadow: inset 4px 4px 4px #6666, -3vmin -2vmin 3vmin 0 #fff2, -2px -2px 1px #0003, -4vmin -2vmin 0 1vmin #aaa, -4vmin 2vmin 0 1vmin #aaa, 4vmin -2vmin 0 1vmin #aaa, 2vmin 0 0 3vmin #aaa, -2vmin 0 0 3vmin #aaa;
  }

  .crt {
    opacity: 1;
    background: repeating-linear-gradient(to bottom, transparent, transparent 2px, #a09f43 2px, #a09f43 3px);
  }
  .crt::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: repeating-linear-gradient(to right, transparent, transparent 2px, #a09f43 2px, #a09f43 3px);
  }
  .crt::after {
    display: none;
  }

  .symbol {
    max-width: 160px;
    stroke-dashoffset: 3000;
    animation: loop 2s infinite cubic-bezier(0.65, 0, 0.35, 1) forwards, hide 4s steps(1);
    stroke: #333;
  }

  .message {
    color: #333;
    text-shadow: none;
    font-size: 1rem;
    animation: float_down 3s linear forwards;
    bottom: 4px;
    left: 0px;
    font-size: 20px;
  }
  .message::after {
    display: none;
  }
}
/*********************************************************************************************
	Large screens
**********************************************************************************************/
@media (min-width: 1600px) {
  body {
    animation: none;
    transform: none;
    overflow: hidden;
  }
  body::after {
    content: "";
    box-shadow: none;
    border-radius: 0;
    width: 80vw;
    height: 100vh;
    position: absolute;
    left: 10vw;
    top: 0vw;
    transform: rotate(-24deg);
    transform-origin: center;
    background: #4206f1;
    mix-blend-mode: overlay;
    z-index: 1;
    animation: hue_rotate 5.7s linear infinite, rotate 17s linear infinite;
  }
  body::before {
    display: none;
  }

  .container {
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    background: #101;
    box-shadow: none;
    margin: 0 auto;
    animation: none;
  }

  .crt {
    background: repeating-linear-gradient(to bottom, transparent, transparent 0.1vw, #101 0.1vw, #101 0.4vw);
    opacity: 1;
    transform-origin: center;
    animation: scale 45s linear infinite;
  }
  .crt::before {
    background: repeating-linear-gradient(to right, transparent, transparent 0.1vw, #101 0.1vw, #101 0.4vw);
  }
  .crt::after {
    display: none;
  }

  .symbol {
    max-width: 20vw;
    stroke-dashoffset: unset;
    animation: loop 2s infinite cubic-bezier(0.65, 0, 0.35, 1), pulse 10s infinite steps(1, end);
  }

  .message {
    color: #871a85;
    text-shadow: 0 0 1rem #871a85;
    font-size: 2rem;
    bottom: 2rem;
    animation: none;
  }
}
/*********************************************************************************************
	Extra large screens
**********************************************************************************************/
@media (min-width: 2000px) {
  body::after {
    display: none;
  }

  .container {
    background: #270245;
  }

  .crt {
    background: repeating-linear-gradient(to bottom, transparent, transparent 1px, #270245 1px, #270245 3px);
    animation: none;
  }
  .crt::before {
    display: none;
  }
  .crt::after {
    display: block;
  }

  .symbol {
    position: absolute;
    height: auto;
    left: calc(50% - 146px);
    top: calc(50% - 88px);
    animation: pulse 10s infinite steps(1, end);
    transform: translate(var(--translateX), var(--translateY));
    transition: transform 0.05s linear;
  }

  .message {
    font-size: 24px;
    color: #4206f1;
    text-shadow: 0 0 12px #4206f1;
  }
}
/*********************************************************************************************
	✨ Animations ✨ 
**********************************************************************************************/
@keyframes loop {
  0% {
    stroke-dashoffset: 3150;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -2850;
  }
}
@keyframes pulse {
  0% {
    stroke: #fe18d3;
    filter: drop-shadow(0 0 12px #fe18d377) drop-shadow(0 0 4px #fe18d377) drop-shadow(0 0 36px #fe18d377) drop-shadow(0 0 64px #fe18d3dd);
  }
  20% {
    stroke: #ff2941;
    filter: drop-shadow(0 0 12px #ff294177) drop-shadow(0 0 4px #ff294177) drop-shadow(0 0 36px #ff294177) drop-shadow(0 0 64px #ff2941dd);
  }
  40% {
    stroke: #871a85;
    filter: drop-shadow(0 0 12px #871a8577) drop-shadow(0 0 4px #871a8577) drop-shadow(0 0 36px #871a8577) drop-shadow(0 0 64px #871a85dd);
  }
  60% {
    stroke: #feff38;
    filter: drop-shadow(0 0 12px #feff3877) drop-shadow(0 0 4px #feff3877) drop-shadow(0 0 36px #feff3877) drop-shadow(0 0 64px #feff38dd);
  }
  80% {
    stroke: #4206f1;
    filter: drop-shadow(0 0 12px #4206f177) drop-shadow(0 0 4px #4206f177) drop-shadow(0 0 36px #4206f177) drop-shadow(0 0 64px #4206f1dd);
  }
}
@keyframes roll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-105vh);
  }
}
@keyframes hue_rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}
@keyframes flicker {
  0% {
    background: currentColor;
  }
  50% {
    background: transparent;
  }
  0% {
    background: currentcolor;
  }
}
@keyframes float_down {
  from {
    transform: translateY(-26vmin);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}