@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Rubik:wght@400;500;600;700&display=swap');

/* ===== Base CSS ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: 'Rubik', san-serif;
  line-height: 1.7;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

select {
  padding: 6px;
  font-size: 1.063rem;
  border: 1px solid #888;
  outline: none;
}

h1,
h2 {
  color: #273542;
}

th {
  color: #273542;
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  padding: 7px;
  transition: 0.3s;
}

td {
  color: #273542;
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: left;
  padding: 7px;
  transition: 0.3s;
}

/* ===== Style header ===== */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  float: right;
}

.header a {
  display: flex;
  align-items: center;
  float: left;
  color: #273542;
  border: none;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 25px;
  border-radius: 0.375rem;
  transition: 0.3s;
}

.header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

/* ===== Style search and add btn ===== */
.searchAdd {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.searchContainer .icon {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 1.063rem;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.searchContainer .icon:hover {
  background: #ccc;
}

input[type='text'] {
  padding: 6px;
  font-size: 1.063rem;
  border: 1px solid #888;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type='text']:focus {
  border: 1px solid #292828;
}

input[type='search'] {
  padding: 6px;
  font-size: 1.063rem;
  border: 1px solid #888;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type='search']:focus {
  border: 1px solid #292828;
}

.btnPrimary {
  padding: 0.75rem 1.3rem;
  line-height: 1;
  border-radius: 0.375rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: #d2445a;
  font-weight: 700;
  transition: 0.3s;
}

.btnPrimary:hover {
  background-color: #bb2c41;
}

.btnSecondary {
  padding: 0.75rem 1.3rem;
  margin-left: 10px;
  line-height: 1;
  border-radius: 0.375rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid #838282;
  color: #000;
  display: inline-block;
  background-color: #ccc;
  font-weight: 700;
  transition: 0.3s;
}

.btnSecondary:hover {
  background-color: #838282;
}

/* ===== Style modal ===== */
.modal {
  padding: 2px 16px;
  display: block;
  position: fixed;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 4;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 0.375rem;
  width: 30%;

  -webkit-animation-name: popout;
  -webkit-animation-duration: 0.3s;
  animation-name: popout;
  animation-duration: 0.3s;
}

/*
  Why keyframes and webkit keyframes?
  Whenever you add a "@webkit" prefix, allowing support for chrome browser to render animation.
  @Doocharsiu
*/

@-webkit-keyframes popout {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popout {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.fieldInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px;
  color: #4e4d4d;
  font-weight: bold;
}

.modalBody input,
select {
  width: 350px;
  padding: 5px;
  border-radius: 5px;
}

.modalBody p {
  color: #292828;
}

.fieldInput p {
  color: #f53a56;
}

.modalFooter {
  text-align: right;
  margin-top: 20px;
}

.confirmAction {
  display: flex;
  justify-content: center;
}

.confirmMessage{
  text-align: center;
}

#successModal {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  overflow: auto;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.loaderSlice {
  margin: auto;
  height: 3px;
  background-color: #ccc;
  position: relative;
}

.progressBar {
  width: 0;
  height: 100%;
  background-color: #55d244;
  position: absolute;
  animation: progressBar 1.5s linear forwards;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.close {
  background-color: transparent;
  color: #aaaaaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4e4d4d;
  text-decoration: none;
  cursor: pointer;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1.375rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* ===== Style table ===== */
.tableContainer {
  max-width: 1080px;
  min-height: 350px;
  padding-top: 1rem;
  margin: 0 auto;
}

.tableBook {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 1.125rem;
}

/* Group edit and add button */
.action {
  display: flex;
}

.editBtn {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  color: #55d244;
  font-size: large;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
}

.editBtn:hover {
  color: #42c031;
  background-color: #e7e7e7;
  border: 1px solid #42c031;
}

.deleteBtn {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: #d2445a;
  font-size: large;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
}

.deleteBtn:hover {
  color: #bb2c41;
  background-color: #e7e7e7;
  border: 1px solid #bb2c41;
}

/* ===== Style footer ===== */
.footer {
  position: relative;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

/* ===== Loader ===== */
.loader {
  margin: auto;
  text-align: center;
}

/* ===== EmptyData ===== */
.emptyData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyData img {
  max-width: 50%;
  height: auto;
}

/* Dark theme style*/
.App.darkTheme {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

.App.darkTheme .header {
  background-color: #333;
  transition: 0.3s;
}

.App.darkTheme .header a {
  color: #fff;
  transition: 0.3s;
}

.darkTheme h1,
.darkTheme h2,
.darkTheme th,
.darkTheme td,
.darkTheme p {
  color: #fff;
  transition: 0.3s;
}

.darkTheme .errorMessage {
  color: #f53a56;
}

.darkTheme .modalContent {
  background-color: #333;
  border: 1px solid #888;
  transition: 0.3s;
}

.darkTheme .fieldInput {
  color: #fff;
  transition: 0.3s;
}
