/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset css */

/* config default content */
body {
  font-family: 'Roboto', sans-serif;
}
/* config default content */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
/* layout */

/* detail style */
ul li {
  margin-left: 5px;
}

ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

ul li a:hover {
  background: orange;
  border-color: orange;
  color: #fff;
}

.active {
  background: orange;
  border-color: orange;
  color: #fff;
}
/* detail style */
