.container {
  width: 1200px;
  margin: 0 auto;
}

.boxs {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* khai bao animation */
@keyframes backgroundDemo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    transform: rotate(45deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(0);
  }
}

@keyframes moveBack {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(200px);
  }
}

.box {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  /* transition: all 3s; */
  padding: 10px;
  /* sử dụng animation */
  animation-name: moveBack;
  animation-duration: 6s;
}

/* khi di chuột vào box thì thực hiện css sau */
.box:hover {
  /* quay xo với trục */
  /* transform: rotate(-45deg); */
  /* tăng tỉ lệ scale box */
  /* transform: scale(1.5); */
  /* skew */
  /* transform: skew(15deg); */
  /* di chuyển trái phải và trên dưới */
  /* transform: translate(40px, 40px); */
  /* width: 500px; */
}

/* 3. animation */

/* 4. position */
