

.selected-products-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

@media(max-width: 1200px){
    .selected-products-grid{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }
}

@media(max-width: 900px){
    .selected-products-grid{
        padding: 0px 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .selected-products-grid{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 10px;
    }

    .selected-products-grid div{
        margin: 0 auto;
    }
}