.form-container {
  flex: 0 0 45%;
}

input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
  display: block;
}
input,
textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  width: 70%;
}

button {
  padding: 1rem;
  background-color: rgb(228, 87, 87);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}
