*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  height: 100vh;
  background: rgb(89, 181, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  padding: 20px 40px;
  font-size: 40px;
  color: white;
  background: rgb(70, 84, 202);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 20px;
}
.counter h1 {
  font-size: 18px;
  margin-bottom: 15px;
}
