@use "../../styles" as s;

.nav {
  background-color: s.$introBg;

  .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: s.rem(22) s.rem(20) s.rem(50);

    @include s.breakpoint-up(large) {
      padding: s.rem(70) s.rem(80);
    }
  }

  &__logo {
    width: s.rem(83);

    @include s.breakpoint-up(large) {
      width: s.rem(185);
    }
  }

  &__links {
    display: flex;
    font-size: s.rem(14);

    @include s.breakpoint-up(large) {
      font-size: 1rem;
    }

    li {
      &:not(:last-child) {
        margin-right: s.rem(22);

        @include s.breakpoint-up(large) {
          margin-right: s.rem(56);
        }
      }
    }
  }
}
