body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.container {
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card {
  border: 10px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}
