body {
  font-size: 17px;
  font-family: arial;
  background: #c49557;
  line-height: 1.5em;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

#container {
  width: 90%;
  margin: auto;
  padding: 10px;
}

#box {
  background: #333;
  color: #fff;
  width: 500px;
  height: 140px;
  padding: 40px;
  margin-left: 400px;
  text-align: center;
}

#lightBack {
  background: black;
  width: 100px;
  height: 100px;
}

#lightCenter {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  margin: 12.5px;
}

#player456 {
  background: url(assets/player.png);
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 70px;
}

#finish {
  background: red;
  width: 10px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 1097px;
}

#killerRobot {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 1100px;
}

#squidSoldier {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 1180px;
  top: 300px;
}

.squidSoldier {
  background: url(assets/squid-soldier.png);
}

.notLooking {
  background: url(assets/squid-game-not-looking.png);
}

.Looking {
  background: url(assets/squid-game-looking.png);
}

.green {
  background: green;
}

.red {
  background: red;
}

.buttons {
  margin-top: 80px;
}

/*
Author: leviphil
Created: 17th October, 2021
Website: leviphil.com
*/
