@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* reset css */

/* style common or default css */
:root {
  --color-white: #fff;
  --color-yellow: #f6bc3e;
  --color-red: #ff324d;
  --color-green: #388e3c;
  --color-grey: #687188;
  --color-black: #292b2c;
  --color-grey-while: #f4f9fc;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-size: 1.6rem;
}

.container {
  border: 1px dashed red;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2rem;
}
/* style common or default css */

/* ========== Start Header ========== */
/* 1. Style layout */
header {
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-menu {
  display: flex;
  align-items: center;
}

ul.pages-link {
  display: flex;
}

ul.search {
  display: flex;
  margin-left: 10px;
  margin-right: -10px;
}
/* 1. Style layout */

/* 2. Style chi tiết hình ảnh */
.logo a {
  display: block;
  width: 182px;
}

.logo a img {
  display: block;
  max-width: 100%;
}
/* 2. Style chi tiết hình ảnh */

/* 3. Style chi tiết pages link */
.pages-link li a {
  display: inline-block;
  color: var(--color-black);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 12px 10px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.pages-link li a:hover {
  color: var(--color-red);
}

.pages-link li a.active {
  color: var(--color-red);
}
/* 3. Style chi tiết pages link */

/* 4. Style chi tiết search */
.search li {
  padding: 12px 10px;
  transition: all 0.5s;
}

.search li:hover {
  cursor: pointer;
  color: var(--color-red);
}
/* 4. Style chi tiết search */
/* ========== End Header ========== */

/* ========== Start Banner ========== */
.banner-full {
  background: var(--color-grey-while);
}

.banner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner .image {
  width: 40%;
}

.banner .content {
  width: calc(60%-8%);
  margin-left: 10%;
}

/* Style chi tiết hình ảnh */
.banner .image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/* Style chi tiết hình ảnh */

.banner .content span {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--color-red);
}

.banner .content h2 {
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.banner .content h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.banner .content a {
  padding: 12px 30px;
  background: var(--color-red);
  display: inline-block;
  color: var(--color-white);
  border: 1px solid var(--color-red);
  transition: all 0.5s;
}

.banner .content a:hover {
  background: transparent;
  color: var(--color-red);
}
/* ========== End Banner ========== */

/* ========== Start Product ========== */
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}

.product-item {
  width: calc(25% - 24px);
  margin-left: 24px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.1);
}

.product-image a {
  display: block;
}

.product-item img {
  max-width: 100%;
  display: block;
}

.product-full h2 {
  font-size: 32px;
  text-align: center;
  margin: 40px 0;
}

.product-info {
  padding: 15px;
}

.product-info > h6 {
  margin-bottom: 8px;
}

.product-info > h6 > a {
  font-size: 16px;
  color: var(--color-black);
  font-weight: 500;
  transition: all 0.5s;
}

.product-info > h6 > a:hover {
  color: var(--color-red);
}

.product-price {
  margin-bottom: 8px;
}

.product-price .price {
  color: var(--color-red);
}

.product-price .price-origin {
  color: var(--color-grey);
  font-size: 14px;
  display: inline-block;
  margin: 0 4px;
  text-decoration: line-through;
}

.product-price .sale-off {
  color: var(--color-green);
}

.product-rating i {
  color: var(--color-yellow);
  font-size: 14px;
}

.product-rating span {
  color: var(--color-grey);
  font-size: 14px;
}
/* ========== End Product ========== */
