@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* reset css */

/* style common or default css */
:root {
  --color-white: #fff;
  --color-yellow: #f6bc3e;
  --color-red: #ff324d;
  --color-green: #388e3c;
  --color-grey: #687188;
  --color-black: #292b2c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-size: 1.6rem;
}
/* style common or default css */

/* 1. Style layout */
header {
  margin: 10px 0;
}

.container {
  border: 1px dashed red;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_menu {
  display: flex;
  align-items: center;
}

ul.pages_link {
  display: flex;
}

ul.search {
  display: flex;
  margin-left: 10px;
  margin-right: -10px;
}
/* 1. Style layout */

/* 2. Style chi tiết hình ảnh */
.logo a {
  display: block;
  width: 182px;
}

.logo a img {
  display: block;
  max-width: 100%;
}
/* 2. Style chi tiết hình ảnh */

/* 3. Style chi tiết pages link */
.pages_link li a {
  display: inline-block;
  color: var(--color-black);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 12px 10px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.pages_link li a:hover {
  color: var(--color-red);
}

.pages_link li a.active {
  color: var(--color-red);
}
/* 3. Style chi tiết pages link */

/* 4. Style chi tiết search */
.search li {
  padding: 12px 10px;
  transition: all 0.5s;
}

.search li:hover {
  cursor: pointer;
  color: var(--color-red);
}
/* 4. Style chi tiết search */
