.box {
  width: 200px;
  height: 300px;
  border: 10px solid brown;
  padding: 10px;
}

.box-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-3 {
  margin: 30px 90px 20px;
}

.box-4 {
  margin: 10px 70px;
}
