@use 'sass:math';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --web-bg: #141414;
  --web-wash: #18191a;
  --web-light: #262627;
  --web-highlight: #484a4c;
  --web-input: #ffffff1f;
  --web-text: #e5e5e5;
  --web-subtext: #d2d2d2;
  --web-hover: #ffffff1a;
  --web-active: #ffffff1a;
  --web-active-fa: #2e98ff;
  --web-link: #3ea6ff;
  --web-text-hover: #54b9c5;
  --web-success: #31a24c;
  --web-sank: grey;
  --web-popover: #252525;
  --divider: #3e4042;

  --bg-text: #e23841;

  // chat message
  --bg-comment: #4e4f50;
  --bg-input-send: #3a3b3c;
  --bg-reply: #0084ff;
  --web-light-selected: #2d88ff1a;
  --secondary: #b0b3b8;

  // profile
  --bg-nav-profile: #242526;
}

:root,
:host {
  // textarea - css vars
  --w-e-textarea-bg-color: var(--web-light);
  --w-e-textarea-color: var(--web-text);
  --w-e-textarea-border-color: var(--web-light);
  --w-e-textarea-slight-border-color: var(--divider);
  --w-e-textarea-slight-color: var(--divider);
  --w-e-textarea-slight-bg-color: var(--web-bg);
  --w-e-textarea-selected-border-color: var(--divider);
  --w-e-textarea-handler-bg-color: #4290f7; // 工具，如图片拖拽按钮

  // toolbar - css vars
  --w-e-toolbar-color: var(--web-text);
  --w-e-toolbar-bg-color: var(--web-light);
  --w-e-toolbar-active-color: var(--web-bg);
  --w-e-toolbar-active-bg-color: var(--web-bg);
  --w-e-toolbar-disabled-color: var(--web-subtext);
  --w-e-toolbar-border-color: var(--divider);

  // modal - css vars
  --w-e-modal-button-bg-color: var(--web-light);
  --w-e-modal-button-border-color: var(--divider);
}
.w-e-bar-item button:hover,
.w-e-menu-tooltip-v5:before {
  color: var(--web-text);
}
.w-e-text-container [data-slate-editor] pre > code {
  text-shadow: 0 1px var(--web-active);
}

button,
a,
a:hover,
input {
  all: unset;
}

button,
a,
a:hover {
  cursor: pointer;
}

a {
  color: var(--web-link);
}

body {
  color: var(--web-text);
  background-color: var(--web-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

.writer > pre {
  display: block;
  font-family: monospace;
  white-space-collapse: preserve;
  text-wrap: nowrap;
  padding: 1em;
  background-color: var(--w-e-textarea-slight-bg-color);
  border: 1px solid var(--w-e-textarea-slight-border-color);
  border-radius: 4px 4px;
  display: block;
  font-size: 14px;
  text-indent: 0;
  text-shadow: 0 1px var(--web-active);
  margin: 0.8em 0;
}

#root {
  height: 100%;
  width: 100%;
}

/* scss */
@function aspectRatio($w, $h) {
  @return calc(($h / $w) * 100%);
}
@mixin genAspectRatioClass($w, $h) {
  &--#{$w}by#{$h} {
    padding-top: aspectRatio($w, $h);
  }
}
.thumbnail {
  display: block;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include genAspectRatioClass(1, 1);
  @include genAspectRatioClass(4, 3);
  @include genAspectRatioClass(16, 9);
  @include genAspectRatioClass(4, 5);
}
