.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  border: none;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 25px;
  }

  .links {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    cursor: pointer;
  }

  .ft-red {
    color: red;
  }
}
