#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

#info {
  margin-top: 20px;
}

h3 {
  margin-top: -90px;
  color: #fff;
}
