body {
    background-color: rgb(53, 128, 89);
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    font-family: fantasy;
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

.main {
    max-width: 475px;
    background-color: rgb(53, 128, 89);
    border: none;
}

.board {
    display: grid;
    grid-template-rows: repeat(26, 1fr);
    grid-template-columns: repeat(26, 1fr);
    height: 375px;
    width: 450px;
    border-width: 4px;
    background-color: black;
    border-color: rgb(109, 205, 0) !important;
    border-style: dashed;
}

.score{
    font-size: 26px;
    font-weight: bold;
    color: rgb(139, 5, 5);
}

.playForm {
    grid-row: 12;
    grid-column: 13;
    height: 190px;
    width: 330px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(57, 75, 62);
    opacity: 0.8;
    background-color: rgb(109, 205, 0);
}

.playForm:hover {
    opacity: 1;
}

.withwall {
    margin-right: 15px;
    padding: 7px;
}

.time {
    font-size: 30px;
}

.lvl {
   position: relative;
   bottom: 48px;
   font-size: 30px;
   text-align: right; 
}

.gameOver {
    width: 300px;
    color: red;
    font-weight: bold;
    grid-row: 12;
    grid-column: 18;
}

.gameOver h2 {
    padding-left: 30px;
}

#nickname {
    padding: 6.5px 12px;
    background-color: rgb(219, 77, 77);
    color: rgb(0, 0, 0);
    border: 0;
    display: block;
    font-size: 18px;
}

#nickname::placeholder{
    color: black;
    font-weight: bold;
    text-align: center;
}

#send {
    position: relative;
    left: 85px;
    background-color: rgb(219, 77, 77);
    color: black;
    font-weight: bold;
}

.top3txt {
    padding-left: 90px;
}

.newPersonalRecord{
    position: relative;
    right: 10px;
}

.top3scores{
    padding-left: 10px !important;
}

.playAgain {
    margin: 80px 0 0 65px;
}

.sendTop3 {
    margin: 80px 0 0 65px;
}

.snake {
    background-color: rgb(116, 23, 23);
    border: .05vmin solid rgb(245, 10, 10);
}

.food {
    background-color: rgb(201, 140, 27);
    border: .25vmin solid rgb(255, 162, 0);
} 
.mobileButtons {
    display: none;
}


/* Mobile styles */

@media screen and (max-width: 470px) {
    .main {
        max-width: 340px;
    }
    .main h2 {
        font-size: 32px;
        margin-bottom: 0 !important;
    }
    .board {
        height: 400px;
        width: 320px;
    }
    h1 {
        font-family: serif;
        font-size: 32px;
    }
    .time {
        font-size: 26px;
    }
    .lvl {
       position: relative;
       bottom: 39px;
       left: 10px;
       font-size: 26px;
       text-align: right; 
    }
    .playForm {
        height: 250px;
        width: 303px;
    }
    .withWallDiv {
        font-size: 16px;
        margin: 42px 0 21px 0;
    }
    .playForm h5 {
        margin-top: 34px !important;
    }
    .playForm h3 {
        margin-top: 11px;
        font-size: 25px;
    }
    .mobileButtons {
        display: flex;
        margin: 2px 0 50px 0;
    }
    .mobileButtons input {
        padding: 27px;
    }
    .arrowUP {
        touch-action: manipulation;
        position: relative;
        bottom: 40px;
        left: 31px;
    }
    .arrowDOWN {
        touch-action: manipulation;
        position: relative;
        top: 45px;
        right: 33px;
    }
    .arrowLEFT {
        touch-action: manipulation;
        position: relative;
        left: 25px;
    }
    .arrowRIGHT {
        touch-action: manipulation;
        position: relative;
        right: 25px;
    }
    .newPersonalRecord{
        position: relative;
        left: 1px;
    }
    .gameOver {
        padding-left: 15px;
    }
    .gameOver h2 {
        padding-left: 40px;
    }
    .playAgain {
        margin-left: 70px;
    }
    .newTop3 {
        position: relative;
        left: 12px;
    }
    .top3scores{
        margin-left: 2px !important;
    }
}

/*Big screens Style*/

@media screen and (min-width: 1700px) {
    .main {
        max-width: 625px;
    }
    h1 {
        font-size: 80px;
    }
    .board {
        height: 500px;
        width: 600px;
    }
    h2 {
        font-size: 42px;
    }
    .time {
        font-size: 38px;
    }
    .lvl {
       position: relative;
       bottom: 56px;
       font-size: 38px;
       text-align: right; 
    }
    .gameOver {
        grid-row: 12;
        grid-column: 13;
    }
    .playAgain {
        margin-left: 80px;
    }
    .newPersonalRecord{
        position: relative;
        left: 7px;
    }
    .top3txt {
        padding-left: 100px;
    }
    .top3scores{
        margin-left: 15px !important;
    }
    .newTop3 {
        position: relative;
        left: 23px;
    }
}