.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    max-width: 400px;
    width: 100%;
}

.section__title {
    text-transform: uppercase;
    background-color: #3e8e41;
    color: white;
    padding:2% 10%;
    border-radius: 7px;
}