@use "./functions" as f;
@use "variables" as v;
@use "breakpoints" as b;

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-size: clamp(1rem, 1rem + 0.5vw, f.rem(18));
  line-height: 1.3;
  font-family: v.$font-body;
  padding: 0;
  margin: 0;
  background-color: v.$mainBg;
  color: v.$white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: v.$white;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: f.rem(17) f.rem(72);
  border-radius: f.rem(30);
  border: 0;
  color: v.$white;
  background: linear-gradient(to right, v.$cyan, v.$blue);
  cursor: pointer;

  &:hover {
    background: v.$cyan;
  }
}

section {
  padding-bottom: f.rem(110);

  @include b.breakpoint-up(medium) {
    padding-bottom: f.rem(140);
  }
}

.container {
  max-width: f.rem(1440);
  margin-inline: auto;
}
