* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Verdana, sans-serif;
  font-size: 12px;
}

.form {
  display: flex;
  column-gap: 20px;
  padding: 30px;
}

.form .form-field {
  width: 300px;
  position: relative;
}

.form .form-field .form-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 50px;
  height: 42px;
  padding: 0 15px;
}

.form .form-field .form-input[type='password'] {
  padding-right: 74px;
}

.form .form-field .form-input:not(:placeholder-shown) {
  border: 1px solid #ddd;
}

.form .form-field .form-input:not(:placeholder-shown) + .form-label {
  top: 0;
  background: #fff;
  padding: 0 8px;
  color: #ccc;
  left: 25px;
}

.form .form-field .form-input:focus {
  border: 1px solid #ff6200;
}

.form .form-field .form-input:focus + .form-label {
  top: 0;
  background: #fff;
  padding: 0 8px;
  color: #ff6200;
  left: 25px;
}

.form .form-field .form-label {
  position: absolute;
  transition: all 0.25s ease;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
  user-select: none;
  pointer-events: none;
  display: inline-block;
}

.form .form-field .toggle-password {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.form .form-field .toggle-password .switcher {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.form .form-field .toggle-password .switcher input {
  width: 0;
  height: 0;
  opacity: 0;
}

.form .form-field .toggle-password .switcher input:checked + .slider {
  background: #ff6200;
}

.form .form-field .toggle-password .switcher input:checked + .slider:before {
  transform: translateX(26px);
}

.form .form-field .toggle-password .switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: all 0.4s ease;
  border-radius: 50px;
}

.form .form-field .toggle-password .switcher .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  background: #fff;
  left: 4px;
  top: 4px;
  transition: all 0.4s ease;
  border-radius: 50%;
}

.form .form-button button {
  background: #ff6200;
  color: #fff;
  border: none;
  border-radius: 50px;
  height: 42px;
  padding: 0 20px;
  cursor: pointer;
}
