// UserList.scss
.user-list-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: #333;
    margin-right: 70px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 8px;

    a {
      text-decoration: none;
      color: #007bff;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
