/* Header.scss */

.app-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;

  h1 {
    margin: 0;
  }

  div {
    margin-top: 10px;

    span {
      margin-right: 10px;
    }

    button {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
