@use "../../styles" as s;

.prod {
  max-width: s.rem(1200);
  display: grid;
  grid-template-columns: 1fr;
  gap: s.rem(46);

  @include s.breakpoint-up(large) {
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    gap: s.rem(63);
  }

  &__image {
    img {
      width: 100%;

      @include s.breakpoint-down(medium) {
        padding: 0 s.rem(30);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: s.rem(18);

    @include s.breakpoint-down(medium) {
      padding: 0 s.rem(26);
    }

    @include s.breakpoint-up(large) {
      justify-content: center;
      gap: s.rem(24);
    }

    &__link {
      color: s.$cyan;

      align-self: flex-start;

      background-image: url("../../images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: s.rem(25);
      border-bottom: 1px solid s.$cyan;

      &:hover {
        color: s.$white;
        border-bottom: 1px solid s.$white;
        text-decoration: none;
      }
    }
  }
}
