.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 0.5rem;
  }
}
