.carousel-container {
  position: relative;
  margin-bottom: 50px;
  a {
    color: var(--web-text);
  }

  .carousel-action {
    background: var(--web-text);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    z-index: 1;
    &.right {
      right: -15px;
    }
    &.left {
      left: -15px;
    }

    .icon {
      color: color(--web-bg);
      font-size: 20px;
      font-weight: bold;
    }
  }
  .carousel-custom {
    margin-bottom: 32px;

    &.slick-slider {
      .slick-list {
        border-radius: 10px;
      }
      ul {
        margin: 0;
        padding: 0;
      }
      .slick-dots {
        right: unset;

        .slick-active {
          width: 40px;
        }
        li {
          width: 30px;

          &.slick-active {
            button {
              opacity: 1;
            }
          }
          button {
            height: 6px;
            background-color: var(--web-text);
            border-radius: 8px;
          }
        }
      }
      .slick-dots-bottom {
        bottom: -20px;
        left: 20px;
      }
    }
    .carousel-item {
      height: 270px;
      color: var(--web-text);
      line-height: 270px;
      text-align: center;
      overflow: hidden;
      display: flex;

      .left {
        color: var(--web-text);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 16px;
        justify-content: center;
        align-items: start;
        line-height: 1.6;
        max-width: 100%;
        padding: 0 36px 36px;
        width: 640px;

        .title {
          margin-bottom: 8px;
          .text {
            color: var(--web-text);
            font-size: 32px;
            font-weight: 700;
            line-height: 1.5;
          }
        }
        .description {
          margin-bottom: 24px;
          font-size: 16px;
          font-weight: 500;
          margin-top: 0;
          max-width: 600px;
          text-align: justify;
        }
        .redirect-btn {
          border: 2px solid var(--web-text);
          border-radius: 16px;
          color: var(--web-text);
          display: inline-block;
          font-size: 14px;
          font-weight: 700;
          min-width: 124px;
          padding: 4px 10px;
          text-align: center;
          transition: 0.2s ease;
          cursor: pointer;
        }
      }
      .right {
        display: flex;
        flex: 3 1;
        justify-content: flex-end;
      }
      &.item-0 {
        background: linear-gradient(to right, #6828fa, #ffbaa4);
      }
      &.item-1 {
        background: linear-gradient(to right, #fe215e, #ff9402);
      }
      &.item-2 {
        background: linear-gradient(to right, #2877fa, #6717cd);
      }
      &.item-3 {
        background: linear-gradient(to right, #007efe, #06c3fe);
      }
      &.item-4 {
        background: linear-gradient(to right, #2877fa, #6717cd);
      }
    }
  }
}
