ul {
  width: 1200px;
  margin: 0 auto;
}

ul li {
  list-style: none;
  padding: 20px 10px;
  background-color: antiquewhite;
  margin-bottom: 15px;
  font-size: 20px;
  color: #e72929;
  border: 1px solid red;
}

h1 {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
}
