.summary-content {
  overflow-y: auto;
  height: calc(100vh - 400px);
  margin-bottom: 8px;
  &-title {
    display: flex;
    justify-content: space-between;
    padding: 14px 30px 14px 48px;
    background-color: var(--web-active);
    border-radius: 10px;

    &-left {
      font-size: 16px;
      font-weight: 600;
    }

    &-right {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-child {
    &-item {
      font-size: 14px;
      height: 48px;
      line-height: 48px;
      padding: 0px 30px 0 48px;
      border-bottom: 1px solid var(--web-active);
    }
  }
}
