.header {
    background: #d70018;
    padding: 0 160px;
    display: flex;
    justify-items: center;
  }
  .logo {
    padding: 4px;
    display: flex;
    align-items: center;
    margin-right: 114px;
  }
  .infomation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    color: #fff;
    cursor: pointer;
  }
  .search {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .content {
    text-align: left;
    margin: 0 10px;
  }
  
  .c {
    position: relative;
  }
  
  .quantity {
    position: absolute;
    top: 22px;
    right: 366px;
  }
  
  .bill_icon {
    font-size: 23px;
  }
  
  .btn_auth {
    margin-bottom: 0;
    margin-left: 5px;
  }