@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.flex {
  display: flex;
}

.container {
  max-width: 600px;
  margin: 100px auto;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-userinfo {
  display: flex;
  gap: 1rem;
  position: relative;
}

.review-reaction {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.review-reaction img {
  width: 17px;
  padding: 0 5px;
  cursor: pointer;
}

.review-reaction span {
  font-size: 10px;
  background-color: #efefef;
  padding: 0 7px;
  border-radius: 10px;
}

.review-username {
  font-size: 14px;
  margin: 0.25rem 0 0.5rem 0;
}

.review-point {
  display: flex;
  gap: 5px;
}

.review-point img {
  width: 12px;
}

.review p {
  font-style: italic;
  color: #666;
  line-height: 1.5;
  margin-bottom: 0;
}

.review {
  padding: 2rem 0;
  border-bottom: 1px solid #e5e7eb;
}

.review .carousel {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.review .carousel img {
  width: 100px;
  border-radius: 5px;
}
