.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.yello {
  border: 1px solid yellow;
}

.login-container {
  .content-right {
    border: 1px solid grey;
    border-radius: 10px;
  }
}
