:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 34px;
    --search-height: 86px;

}

* {
    margin: 0;
    box-sizing: inherit;
}

html {
    /*         10px          */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 2000px;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
.white-background {
    background-color: white;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-next-left-4 + .margin-next-left-4 {
    margin-left: 4px;
}
.opacity-0 {
    opacity: 0;
}
.boder-r-l-b {
    border-right: 0.5px solid rgba(0,0,0,.05);
    border-bottom: 0.5px solid rgba(0,0,0,.05);
    border-left: 0.5px solid rgba(0,0,0,.05);
}
.boder-b-r {
    border-bottom: 0.5px solid rgba(0,0,0,.05);
    border-right: 0.5px solid rgba(0,0,0,.05);
}
.boder-b-l {
    border-bottom: 0.5px solid rgba(0,0,0,.05);
    border-left: 0.5px solid rgba(0,0,0,.05);
}
.boder-t-r-l {
    border-right: 0.5px solid rgba(0,0,0,.05);
    border-top: 0.5px solid rgba(0,0,0,.05);
    border-left: 0.5px solid rgba(0,0,0,.05);
}
.boder-t-r {
    border-top: 0.5px solid rgba(0,0,0,.05);
    border-right: 0.5px solid rgba(0,0,0,.05);
}
.boder-t-l {
    border-top: 0.5px solid rgba(0,0,0,.05);
    border-left: 0.5px solid rgba(0,0,0,.05);
}



.footer-form {
    width: 250px;
    padding: 5px;
}
.footer-form-header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    color: var(--text-color);
}
.footer-form-list {
    list-style: none;
    padding: 0;
}
.footer-form-item {
    margin-bottom: 12px;
    font-size: 12px;
    color: rgba(0,0,0,0.6);
    display: block;
}
.footer-bank-form-list {
    /* width: 114px;
    height: 240px; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.footer-bank-form-item {
    height: 30px;
    width: 60px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    cursor: pointer;
}
.footer-bank-form-item-size-img{
    width: 52px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer-text-hover:hover {
    cursor: pointer;
    color: var(--primary-color);
}
.footer-socials-icon {
    
}
.primary-color {
    color: var(--primary-color);
}
.color-757575 {
    color: #757575;
}
/* Animation */
@keyframes fadeIn {
    from {     
        top: 150%;
        opacity: 0;
    }
    to {
        top: 200%;
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        /* display: none; */
        opacity: 0;
    }
    to {
        /* display: block; */
        opacity: 1;
    }
}
@keyframes Grow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 0.7;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}
@keyframes zoom-out {
    from {
        height: 25px;
        width: 25px;
    }
    to {
        height: 50px;
        width: 50px;
    }
}

.js-close {
    display: none !important;
}