
.app {
    background-color: #f5f5f5;
}
*____________________________________________ Header ________________________________________________*/
/*   thuộc tính chung */
.product-header .product-header__navbar-item--strong {
    font-weight: 400;
}
.product-header__navbar-title-no-pointer {
    cursor: text;
    color: var(--white-color) !important;
}
.product-header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.product-header {
    height: 120px;
    background: linear-gradient(#f53d2d,#f63);
    /* position: fixed; */
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

.product-header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 34px;
    margin-left: -10px;
}

.product-header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;
    
}

.product-header__navbar-item-link,
.product-header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.product-header__navbar-item-link:hover,
.product-header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.product-header__navbar-item:hover .product-header__notify {
    display: block;
}

.product-header__navbar-item {
    margin: 0 8px;
    position: relative;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}
.fa-facebook {
    margin: 0 4px 0 4px !important;
}
.product-header__navbar-item:hover .product-header__qr {
    display: block;
}

.product-header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;

}
.product-header__navbar-icon {
    font-size: 1.4rem;
    line-height: 18.4px !important;
    margin: 0 2px 0 4px;
}

.product-header__navbar-user {
    position: relative;
}
.product-header__navbar-user:hover .product-header__navbar-user-menu {
    display: block;
}
.product-header__navbar-user-img {
    height: 20px;
}
.product-header__navbar-user-name {
    padding-left: 5px;
    /* margin-top: 3px; */
}

.product-header__navbar-user-menu {
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 160%;
    right: 0;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transform-origin: 70% 2%;
    animation: Grow ease 0.2s;
}
.product-header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.product-header__navbar-user-menu::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.product-header__navbar-user-menu-list {
    list-style: none;
    padding-left: 0;
    width: 154px;
}   
.product-header__navbar-user-option {
    padding: 12px 16px;
}
.product-header__navbar-user-option:hover,  .product-header__navbar-user-option a:hover{
    background-color: rgba(0, 0, 0, 0.02);
    color: #05ddc0;
}
.product-header__navbar-user-option a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
}




/*__________  header QR code __________*/


/* .product-header__qr--fix-hover {
    position: absolute;
    top: 100%;
    left: 0;
    height: 16px;
    width: 186px;
} */
.product-header__qr::before {
    position: absolute;
    top: -16px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}

.product-header__qr {
    z-index: 1;
    display: none;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 200%;
    /* margin-top: 16px; */
    padding: 3px;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    animation: fadeIn ease-in-out 0.3s;
}

.product-header__qr-apps {
    width: calc(100% - 24px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px;
    justify-content: space-between;
}
.product-header__qr-img {
    width: 180px;
    /* animation: fadeIn ease 0.3s; */
}
.product-header__qr-link {
    width: calc(50% - 6px);
    
}
.product-header__qr-download-img {
    width: 100%;
    margin-top: 6px;
}


/*__________  Notification __________*/
.product-header__notify {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 404px;
    top: 150%;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    cursor: default;
    transform-origin: 85% 2%;
    animation: Grow ease 0.2s;
    will-change: opacity, transform;
    border-radius: 2px;
}
.product-header__notify::before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.product-header__notify::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.product-header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.product-header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;

}

.product-header__notify-list {
    padding-left: 0px;
}
.product-header__notify-item {
    
}
.product-header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.product-header__notify-link:hover {
    background-color: rgba( 238, 75, 43, 0.05);
}
.product-header__notify-img {
    width: 36px;
    margin-right: 6px;
    object-fit: contain;
    align-self: flex-start;
}
.product-header__notify-info {

}
.product-header__notify-name,
.product-header__notify-description {
    display: block;
    
}
.product-header__notify-name {
    font-size: 1.4rem;
    color: var(--text-color);
}
.product-header__notify-description {
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 300;
    color: #6e6b6b;
    margin-top: 4px;
}
.product-header__notify-footer {
    text-align: center;
    padding: 12px 16px;
}
.product-header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
}

/* Language option */
.product-header__navbar-item:hover .product-header__navbar-language {
    display: block;
}
.product-header__navbar-language {
    z-index: 1;
    display: none;
    position: absolute;
    color: var(--text-color);
    background-color: var(--white-color);
    top: 150%;
    right: 0;
    width: 200px;
    transform-origin: 70% 2%;
    animation: Grow ease 0.2s;
    will-change: opacity, transform;
    border-radius: 1px;
}
.product-header__navbar-language::before {
    position: absolute;
    top: -12px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.product-header__navbar-language::after {
    content: "";
    position: absolute;
    top: -8px;
    right: 42px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.product-header__navbar__language-list {
    list-style: none;
    padding: 12px;
}
.product-header__navbar__language-item:hover {
    color: var(--primary-color);
}
.product-header__navbar__language-item + .product-header__navbar__language-item {
    margin-top: 20px;
}

/* _____________ Search ____________ */

.product-header-with-search {
    height: var(--search-height);
    display: flex;
    align-items: center;
    height: 100%;
}


.product-header__logo {
    width: 202px;
}
.product-header__logo-img {
    width: 186px;
    padding-right: 36px;
}


.product-header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    position: relative;
    display: flex;
    margin-top: -2px;
}


.product-header__cart {
    margin: 14px 78px 0 54px;
    position: relative;
    
}
.product-header__cart-quantity {
    position: absolute;
    top: -25%;
    right: -100%;
    background-color: var(--white-color);
    height: 19px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    border: 2px solid #ee4d2d;
}
.product-header__cart-quantity-text {
    font-size: 1.4rem;
    color: var(--primary-color);
    text-align: center;
}
.product-header__cart-icon {
    color: white;
    width: 26px;
    cursor: pointer;
}

.product-header__cart:hover .product-header__cart__products {
    display: block;
}

.product-header__cart__products {
    z-index: 1;
    border-radius: 2px;
    display: none;
    background-color: var(--white-color);
    position: absolute;
    top: 120%;
    right: -140%;
    width: 404px;
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.15);
    transform-origin: 85% 2%;
    animation: Grow ease 0.2s;
}
.product-header__cart__products-header {
    font-size: 1.6rem;
    padding: 10px;
    color: rgb(0, 0, 0, 0.3);
}
.product-header__cart__products-list {
    padding: 0;
    margin-top: 0px;
}
.product-header__cart__products-list-item {
    display: flex;
    cursor: pointer;
}
.product-header__cart__products-list-item:hover {
    background-color: rgb(0, 0, 0, 0.03);
}
.product-img {
    height: 42px;
    margin: 10px;
}
.product-sale-tag {
    margin-right: 6px;
    border-radius: 2px;
    width: 80px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: 0.9rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
}
.product-content {
    display: flex;
    padding: 10px 0;
    /* height: 42px; */
    width: 270px;
    font-size: 1.6rem;
    /* width: 200px; */
}
.product-name {
}
.product-price {
    margin: 10px;
    /* width: 42px; */
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.product-header__cart__products-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}
.product-header__cart__products::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 30px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid var(--white-color);
}
.product-header__cart__products::after {
    position: absolute;
    top: -20px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
}
.product-header__cart__products-footer-text {
    margin: 10px;
    font-size: 1.2rem;
}
.product-header__cart__products-footer-btn {
    cursor: pointer;
    margin: 10px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    padding: 4px 16px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 16px;
}




.product-header__search-input-wrap {
    flex: 1;
    position: relative;
}
.product-header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left:10px;
    border-radius: 2px;
    
}
.product-header__search__search-btn {
    background-color: #fb5533;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 8px 22px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}
.product-header__search__search-btn:hover {
    opacity: 0.9;
}
.product-header__search__search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-top: 2px;
}


.product-header__search-suggest {
    width: 100%;
}
.product-header__search-suggest-list {
    color: var(--white-color);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 350;
    
}
.product-header__search-suggest-item {
    display: inline-block;
    cursor: pointer;
}
.product-header__search-suggest-item + .product-header__search-suggest-item {
    margin: 5px 0 5px 13px;
}


/* Search history */
.product-header__search-input:focus ~ .product-header__search-history {
    display: block;
}
.product-header__search-history {
    display: none;
    top: 110%;
    width: 90%;
    position: absolute;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px #999;
    z-index: 1;
}
.product-header__search-history-heading {
    padding: 10px;
    font-size: 1.6rem;
    margin: 0;
    padding: 10px;
    color: rgb(0, 0, 0, 0.2);
    font-weight: 400;
}
.product-header__search-history-list {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
    margin: 0;
}
.product-header__search-history-item {
    padding: 10px;
    color: var(--text-color);
    cursor: pointer;
}
.product-header__search-history-item:hover {
    background-color: #f8f8f8;
}
.product-header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}



/* __________________________________________ CONTAINER _________________________________________*/

.product-container {
    background-color: #f5f5f5;
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns: 952px 232px;
    grid-template-rows: 16px 785px 133px auto auto auto auto;
    grid-template-areas: 
    "path        path       "
    "product-box product-box"
    "shop        shop"
    "info        top-vouchers"
    "review      ..."
    "others      ..."
    "may-like    ..."
    ;
}


/* Path _______________________________________________________________________________________________________ */
.product-container__path {
    grid-area: path;
    font-size: 1.3rem;
    color: #0055aa;
    background-color: transparent !important;
}
.product-container__path__link {

}
.product-container__path__icon {
    width: 10px;
    height: 10px;
    color: var(--black-color);
    font-size: 1rem;
    margin: 0 2px;
}
.product-container__path__name-product {
    color: var(--black-color);
}


/* Product box _______________________________________________________________________________________________ */
.product-container__product-box {
    
    margin-top: 5px;
    grid-area: product-box;
    display: flex;
    
}
.product-container__product-box__banner {
    width: 450px;
    padding: 15px;
    box-sizing: content-box;
}
.product-container__product-box__banner__main-img {

}
.product-container__product-box__banner__main-img img {
    display: block;
    width: 450px;
    object-fit: contain;
}
.product-container__product-box__banner__sli-container {
    /* width: 100%; */
}
.product-container__product-box__banner__slider {
    /* width: 100%; */
}
.product-container__product-box__banner__list-imgs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.product-container__product-box__banner__list-item {
    width: 82px;
    height: 82px;
    background-size: contain;
    box-sizing: border-box;
}
.product-container__product-box__banner__list-item:hover {
    border: 2px solid var(--primary-color);
}

.product-container__product-box__share {
    display: flex;
    font-size: 1.6rem;
    margin-top: 22px;
}
.product-container__product-box__share__social {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.product-container__product-box__share__social-icon {
    margin-left: 5px;
    cursor: pointer;
}
.product-container__product-box__share__like {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.product-container__product-box__share__like-icon {
    margin-right: 10px;
}
.product-container__product-box__share__social-icon {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

/* Content product box */
.product-container__product-box__content {
    padding: 20px 35px 20px 20px;
}
.product-container__product-box__content__name {
   
}
.product-container__product-box__content__name-text {
    font-size: 2rem;
    line-height: 28px;
}
.product-container__product-box__content__name__temp {
    background-color: var(--primary-color);
    font-size: 1.2rem;
    display: inline-flex;
    padding: 3px 4px;
    border-radius: 2px;
    color: var(--white-color);
    margin-right: 8px;
    line-height: 1;
    transform: translateY(-2px);
}

.product-container__product-box__content__evaluate {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.product-container__product-box__content__star-quantity {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-right: 5px;
    border-bottom: 1px solid var(--primary-color);
    margin-top: 1px;
}
.product-container__product-box__content__star {
    display: inline-flex;
    padding-right: 15px;
}
.product-container__product-box__content__star-icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/2a44ed8141cd3a3ed0c9.svg);
    margin-right: 1px;
}
.product-container__product-box__content__star-icon div {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/b1bcd65233e15eb99b68.svg);
    background-size: cover;
    width: 98%;
    height: 100%;
    background-repeat: no-repeat;
}

.product-container__product-box__content__quantity-evaluate {
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    height: 26px;
}
.product-container__product-box__content__quantity-evaluate div {
    display: inline-block;
    font-size: 1.4rem;
    color: #767676;
    margin-right: 5px;
}
.product-container__product-box__content__quantity-evaluate span {
    display: inline-block;
    font-size: 1.6rem;
    
    padding-bottom: 1px;
    margin-right: 5px;
}
.product-container__product-box__content__quantity-evaluate .icon {
    background-image: url(../img/ProductPage_productBox-content/question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
}
.product-container__product-box__content__report {
    font-size: 1.4rem;
    margin-left: auto;
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.5);
}

.product-container__product-box__content__price-container  {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 66px;
    margin-top: 10px;
}
.product-container__product-box__content__root-price  {
    text-decoration: line-through;
    color: #929292;
    font-size: 1.6rem;
    margin-right: 10px;
}
.product-container__product-box__content__sale-price {
    font-size: 3rem;
    color: var(--primary-color);
}
.product-container__product-box__content__sale-quantity {
    font-size: 1.2rem;
    background-color: var(--primary-color);
    display: inline-flex;
    border-radius: 2px;
    color: var(--white-color);
    padding: 2px 4px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 15px;
}

.product-container__product-box__content__deal {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 25px;
}
.product-container__product-box__content__deal-name {
    font-size: 1.6rem;
    color: #757575;
    width: 90px;
}
.product-container__product-box__content__deal-tag {
    display: inline-flex;
    background: rgba(208,1,27,.08);
    padding: 3px 7px;
    color: var(--primary-color);
    font-size: 1.4rem;
    margin: 0 20px;
    font-weight: 540;
}

.product-container__product-box__content__transport {
    padding: 0 20px;
    margin-top: 25px;
    display: flex;
    
}
.product-container__product-box__content__transport-name {
    font-size: 1.6rem;
    color: #757575;
}
.product-container__product-box__content__transport-icon {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/baa823ac1c58392c2031.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    background-size: cover;
}
.product-container__product-box__content__transport__content {
    margin-left: 12px;
}
.product-container__product-box__content__transport-to {
    font-size: 1.4rem;
    margin-bottom: 12px;
}
.product-container__product-box__content__transport-to span:first-child,  .product-container__product-box__content__transport-cost span:first-child{
    margin-right: 12px;
    color: #636363;
}
.product-container__product-box__content__transport-cost {
    font-size: 1.4rem;
}

.product-container__product-box__content__classify {
    padding: 0 20px;
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
}
.product-container__product-box__content__classify-name {
    font-size: 1.6rem;
    color: #757575;
    margin-top: 20px;
}
.product-container__product-box__content__classify-list {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 48px;
    max-height: 220px;
    max-width: 515px;
    overflow-y: scroll;
}
.product-container__product-box__content__classify-list::-webkit-scrollbar {
    width: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.product-container__product-box__content__classify-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.product-container__product-box__content__classify-item {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    min-width: 60px;
    min-height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}
.product-container__product-box__content__classify-item:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
/* active item */
.product-container__product-box__content__classify-item.product-container__item-active {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.product-container__product-box__content__classify-item.product-container__item-active .product-container__product-box__content__classify-item__check {
    display: block;
}
.product-container__product-box__content__classify-item__check {
    display: none;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-left: 18px solid transparent;
    border-bottom: 18px solid var(--primary-color);
}
.product-container__product-box__content__classify-item__check-icon {
    position: absolute;
    color: var(--white-color);
    bottom: -18px;
    left: -10px;
}
.product-container__product-box__content__classify-item__avt {
      height: 24px;
      width: 24px;
      padding: 8px 0 8px 8px;
      box-sizing: content-box ;
}
.product-container__product-box__content__classify-item__content {
      padding: 8px;
      display: inline-block;
      font-size: 1.4rem;
      line-height: 24px;
}

.product-container__product-box__content__quantity-option {
    padding: 20px;
    margin-top: 25px;
}
.product-container__product-box__content__quantity-option__name {
    font-size: 1.6rem;
    color: #757575;
}
.product-container__product-box__content__quantity__select-box {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    height: 32px;
    margin-left: 40px;
    margin-right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
}
.product-container__product-box__content__quantity-minus,  .product-container__product-box__content__quantity-plus{
    width: 32px;
    text-align: center;
    cursor: pointer;
}
.product-container__product-box__content__quantity-number {
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.product-container__product-box__content__quantity__available-product {
    font-size: 1.4rem;
}

.product-container__product-box__content__button {
    font-size: 1.4rem;
    display: flex;
    height: 48px;
    padding: 0 20px 30px;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.product-container__product-box__content__add-btn {
    background-color: rgba(255,87,34,0.1);
    border: 1px solid var(--primary-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.product-container__product-box__content__add-btn:hover {
    background: rgba(255,197,178,.181)
}
.product-container__product-box__content__add-btn__icon {
    height: 20px;
    margin-right: 10px;
}
.product-container__product-box__content__add-btn__content {
    color: var(--primary-color);
}
.product-container__product-box__content__buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0 20px;
    width: 140px;
    box-sizing: content-box;
    cursor: pointer;
}
.product-container__product-box__content__buy-btn:hover {
    opacity: 0.9;
}


/* Shop information ____________________________________________________________________________________________ */
.product-container__shop-info {
    grid-area: shop;
}
.product-container__shop-info__content {
    padding: 25px;
    display: flex;
    align-items: center;
}
.product-container__shop-info__content__header {
    display: inline-flex;
    padding-right: 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.product-container__shop-info__content__header-avt {
    background-image: url(../img/ProductPage_shopInfo/avt-3.jpg);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 78px;
    width: 78px;
    margin-right: 20px;
    position: relative;
}
.product-container__shop-info__content__header-avt__temp {
    font-size: 1.2rem;
    line-height: 10px;
    position: absolute;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 3px 4px;
    border-radius: 2px;
    bottom: 0;
    left: 10px;
}
.product-container__shop-info__content__header__info {
    display: flex;
    flex-direction: column;
}
.product-container__shop-info__content__header__name {
    font-size: 1.6rem;
}
.product-container__shop-info__content__header__time-access {
    font-size: 1.4rem;
    color: #757575;
    margin-top: 4px;
}
.product-container__shop-info__content__header__buttons {
    margin-top: 8px
}
.product-container__shop-info__content__header__chat-btn, 
.product-container__shop-info__content__header__visit-btn {
    max-width: 190px;
    min-width: 60px;
    height: 34px;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
.product-container__shop-info__content__header__chat-btn {
    background-color: rgba(255,87,34,0.1);
    border-color: var(--primary-color);
    margin-right: 10px;
}
.product-container__shop-info__content__header__chat-btn__icon {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/7bf03ed38ca37787fe78.svg);
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    margin-right: 5px;
}
.product-container__shop-info__content__header__chat-btn__text {
    color: var(--primary-color);
}
.product-container__shop-info__content__header__visit-btn {
    border-color: rgba(0, 0, 0, 0.09);
    color: #757575;
}
.product-container__shop-info__content__header__visit-btn__icon {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/192a8dfc1c23525d396b.svg);
    
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.product-container__shop-info__content__header__visit-btn__text {
    
}

.product-container__shop-info__content__parameter {
    flex-grow: 1 ;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-left: 25px;
    font-size: 1.4rem;
    grid-gap: 20px 50px;
    gap: 20px 50px;
}
.product-container__shop-info__content__parameter__evaluate,
.product-container__shop-info__content__parameter__feedback,
.product-container__shop-info__content__parameter__joined-time,
.product-container__shop-info__content__parameter__products,
.product-container__shop-info__content__parameter__feedback-time, 
.product-container__shop-info__content__parameter__followers {
    display: flex;
    justify-content: space-between;
}



/* Product information ____________________________________________________________________________________________ */
.product-container__product-info {
    grid-area: info;
}

.product-container__product-info__details {
    padding: 25px 25px 0;
}
.product-container__product-info__details__title,
.product-container__product-info__describe__title {
    padding: 14px;
    font-size: 1.8rem;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.02);
}
.product-container__product-info__details__content {
    margin: 30px 15px 15px;
}
.product-container__product-info__details__content__item {
    font-size: 1.4rem;
    margin-bottom: 18px;
}
.product-container__product-info__details__content__item-title {
    display: inline-block;
    width: 128px;
    color: #757575;
}
.product-container__product-info__details__content__item-text {
    
}
.product-container__product-info__describe {
    padding: 25px 25px 0;
    margin-bottom: 25px;
}
 
.product-container__product-info__describe__content {
    margin: 30px 15px 15px;
}
.product-container__product-info__describe__content-text {
    font-size: 1.4rem;
    color: #000000cc;
    line-height: 1.6;
}



/* Product reviews _____________________________________________________________________________________ */
.product-container__product-reviews {
    grid-area: review;
    padding: 25px;
    box-sizing: border-box;
}

.product-container__product-reviews__title {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 14px;
}
.product-container__product-reviews__filter {
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
    border-radius: 2px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    min-height: 84px;
    margin-bottom: 16px;
}
.product-container__product-reviews__filter__star {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex-shrink: 0;
}
.product-container__product-reviews__filter__star .text {
    color: var(--primary-color);
    text-align: center;
}
.product-container__product-reviews__filter__star .text span:first-child {
    font-size: 3rem;
}
.product-container__product-reviews__filter__star .text span:last-child {
    font-size: 1.8rem;
}
.product-container__product-reviews__filter__star .star {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.product-container__product-reviews__filter__star .star .icon {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/2a44ed8141cd3a3ed0c9.svg);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2px;
}
.product-container__product-reviews__filter__star .star .icon div{
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/b1bcd65233e15eb99b68.svg);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
}
.product-container__product-reviews__filter__list {
    display: inline-flex;
    flex-wrap: wrap;
}
.product-container__product-reviews__filter__item {
    font-size: 1.4rem;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    margin: 5px 8px 5px 0;
    min-width: 100px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--white-color);
}
.product-container__product-reviews__filter__item:first-child {
    border-color: var(--primary-color);
    color: var(--primary-color);
}


.product-container__product-reviews__users {
    padding-left: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.product-container__product-reviews__user-review {
    display: flex;
    padding-bottom: 16px;
    
}
.product-container__product-reviews__user-review__avt {
    background-image: url(../img/ProductPage_reviews/avt-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.product-container__product-reviews__user-review__content {
    flex: 1;
}
.product-container__product-reviews__user-name {
    font-size: 1.2rem;
}
.product-container__product-reviews__user-review__star {
    margin-top: 4px;
}
.product-container__product-reviews__user-review__star .icon {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/2a44ed8141cd3a3ed0c9.svg);
    background-size: contain;
    height: 14px;
    width: 14px;
    display: inline-block;
}
.product-container__product-reviews__user-review__star .icon div {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/b1bcd65233e15eb99b68.svg);
    background-size: contain;
    height: 14px;
    width: 14px;
}
.product-container__product-reviews__user-review__time {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 4px;
}
.product-container__product-reviews__user-review__time span:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.54);
    padding-right: 4px;
}
.product-container__product-reviews__user-review__evaluate {
    display: block;
    margin: 15px 0;
    font-size: 1.4rem;
}
.product-container__product-reviews__user-review__imgs {
    display: flex;
    
}

.product-container__product-reviews__user-review__video {
    background-image: url(../img/ProductPage_reviews/video.jpg);
    background-size: contain;
    height: 72px;
    width: 72px;
    margin-right: 10px;
    position: relative;
    cursor: zoom-in;
}
.product-container__product-reviews__user-review__video-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    box-sizing: border-box;
}
.product-container__product-reviews__user-review__video-icon .icon {
    height: 18px;

}
.product-container__product-reviews__user-review__video-icon .time {
    color: var(--white-color);
    font-size: 1.2rem;

}
.product-container__product-reviews__user-review__img {
    /* background-image: url(../img/ProductPage_reviews/slider-1.jpg); */
    background-size: contain;
    height: 72px;
    width: 72px;
    margin-right: 10px;
    cursor: zoom-in;
}
.product-container__product-reviews__user-review__slide {
    width: 387px;
    height: 387px;
    position: relative;
    margin-top: 56px;
}
.product-container__product-reviews__user-review__slide:hover .btn {
    transform: scale(2);
}
.product-container__product-reviews__user-review__slide__imgs-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.product-container__product-reviews__user-review__slide__imgs {
    display: flex;
    position: absolute;
}
.product-container__product-reviews__user-review__slide__img {
    /* background-image: url(../img/ProductPage_reviews/slider-1.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 387px;
    width: 387px;
}
.product-container__product-reviews__user-review__nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12.5px;
    width: calc(100% + 25px);
    
}
.product-container__product-reviews__user-review__nav-btn .btn {
    background-color: var(--white-color);
    box-shadow: 0 0 12px 8px rgb(0, 0, 0, 0.05);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.product-container__product-reviews__user-review__nav-btn .btn i {
    height: 10px;
    width: 10px;
    font-size: 1rem;
}
.product-container__product-reviews__user-review__shop-feedback {
    padding: 14px 12px;
    background-color: #f5f5f5;
    font-size: 1.4rem;
    margin: 12px 0;
}
.product-container__product-reviews__user-review__shop-feedback .title {

}
.product-container__product-reviews__user-review__shop-feedback .text {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.65);
}
.product-container__product-reviews__users__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.product-container__product-reviews__users__like-btn {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.product-container__product-reviews__users__like-btn i {
    font-size: 1.6rem;
    margin-right: 4px;
}
.product-container__product-reviews__users__menu-btn {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.4);
    display: block;
}

.product-container__product-reviews__nav-menu {
    margin-top: 20px;
}
.product-container__product-reviews__nav-menu__btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}
.product-container__product-reviews__nav-menu__btn {
    height: 30px;
    width: 40px;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: 0 15px;
    cursor: pointer;
}
.product-container__product-reviews__nav-menu__btn:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.product-container__product-reviews__nav-menu__btn:nth-child(7) {
    align-items: flex-end;
}


/* Top-Vouchers _______________________________________________________________________________ */
.product-container__top-vouchers {
    grid-area: top-vouchers;
    padding: 10px;
    background-color: var(--white-color);
    height: 438px;
}
.product-container__vouchers__title{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.54);
    margin: 10px 0 20px 0;
    
}
.product-container__vouchers__vouchers-list{
    overflow-y: scroll;
    width: 100%;
    height: 355px;
    display: flex;
    flex-wrap: wrap;
}
.product-container__vouchers__vouchers-list::-webkit-scrollbar {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.09);
    width: 8px;
    border-radius: 5px;
}
.product-container__vouchers__vouchers-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.product-container__vouchers__voucher{
    position: relative;
    height: 116px;
    width: 126px;
    margin: 5px 0 20px 10px;
}
.product-container__vouchers__voucher__bg{
    background: linear-gradient(180deg,transparent calc(var(--vc-card-radius, .25rem)*2),var(--vc-card-left-border-color,#e8e8e8) 0) 0 0.0625rem /0.0625rem calc(var(--vc-card-radius, .25rem)*2 + var(--vc-card-gap, .125rem)) repeat-y,radial-gradient(circle at 0 var(--vc-card-radius,.25rem),transparent 0,transparent calc(var(--vc-card-radius, .25rem) - 0.0625rem),var(--vc-card-left-border-color,#e8e8e8) 0,var(--vc-card-left-border-color,#e8e8e8) var(--vc-card-radius,.25rem),var(--vc-card-left-fill-color,#fff) 0) 0 0.0625rem /100% calc(var(--vc-card-radius, .25rem)*2 + var(--vc-card-gap, .125rem)) repeat-y;
    bottom: calc(var(--vc-card-sawtooth-margin, .25rem) - 0.0625rem);
    position: absolute;
    top: calc(var(--vc-card-sawtooth-margin, .25rem) - 0.0625rem);
    width: 100%;
    border-bottom: 0.0625rem solid var(--vc-card-left-border-color,#e8e8e8);
    border-top: 0.0625rem solid var(--vc-card-left-border-color,#e8e8e8);
}
.product-container__vouchers__voucher__bg::after {
    content: "";
    display: block;
    background-color: var(--vc-card-background-color,#fff);
    border: 0.0625rem solid var(--vc-card-right-border-color,#e8e8e8);
    border-bottom-right-radius: 0.125rem;
    border-left: 1px solid rgba(0, 0, 0, 0.03);
    border-top-right-radius: 0.125rem;
    box-sizing: border-box;
    height: 116px;
    position: absolute;
    right: -52px;
    top: -1px;
    width: 65px;
}
    

.product-container__vouchers__vouchers-list {
    --vc-card-width: 12rem;
    --vc-card-height: 7.375rem;
    --vc-card-sawtooth-margin: 0.0625rem;
    --vc-card-left-border-color: #fbc9c0;
    --vc-card-left-fill-color: #fff4f4;
    --vc-card-right-border-color: #fbc9c0;
    --vc-card-background-color: #fff4f4;
    --vc-template-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0,0,0,.07);
    --vc-logo-size: 3.5rem;
    --vc-expiry-font-size: 0.625rem;
    --vc-expiry-line-height: 0.75rem;
    --vc-main-title-font-size: 0.875rem;
    --vc-main-title-line-height: 1rem;
    --vc-subtitle-font-size: 0.75rem;
    --vc-subtitle-line-height: 0.875rem;
    --vc-product-scope-font-size: 0.75rem;
    --vc-product-scope-line-height: 0.875rem;
    --vc-product-scope-padding: 0.0625rem 0.25rem;
    --vc-icon-text-font-size: 0.75rem;
    --vc-icon-text-line-height: 0.875rem;
    --vc-icon-text-max-height: 1.75rem;
    --vc-icon-text-margin-top: 0.25rem;
    --vc-radio-button-border: 0.0625rem solid rgba(0,0,0,.14);
    --vc-radio-button-box-shadow: var(--black2) 0 0.125rem 0 0;
    --vc-card-rect-button-mart-border-color: #066bc8;
    --vc-card-rect-button-mart-color: #fff;
    --vc-card-rect-button-mart-background-color: #066bc8;
    --vc-card-rect-button-ofs-border-color: #d0011b;
    --vc-card-rect-button-ofs-color: #fff;
    --vc-card-rect-button-ofs-background-color: #d0011b;
    --vc-rect-button-min-width: 3.25rem;
    --vc-rect-button-height: 1.5rem;
    --vc-card-rect-button-padding: 0.5rem;
    --vc-rect-button-font-size: 0.75rem;
    --vc-card-rect-button-apply-button-width: 3.25rem;
    --vc-card-apply-button-font-size: 0.75rem;
    --vc-expiry-margin-top: 0.3125rem;
    --vc-card-progress-expiry-margin: 0.3125rem 0.3125rem 0 0;
    --vc-main-title-color: #ee4d2d;
    --vc-sub-title-color: #ee4d2d;
    --vc-rect-button-height: 2.125rem;
    --vc-card-rect-button-padding: 0.125rem 0.1875rem;
    --vc-rect-button-font-size: 0.625rem;
    --vc-card-rect-button-apply-button-height: 1.5rem;
    --vc-card-apply-button-font-size: 0.625rem;
    --vc-apply-useLaterBtn-font-size: 0.625rem;
}
.product-container__vouchers__voucher__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 4px 2px 12px;
    color: var(--primary-color);
    width: 105px;
}
.product-container__vouchers__voucher__content__name{
    font-size: 1.4rem;
}
.product-container__vouchers__voucher__content__condition{
    font-size: 1.2rem;
}
.product-container__vouchers__voucher__content__deadline{
    font-size: 1rem;
    margin-top: 10px;
    
}   
.product-container__vouchers__voucher__buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -42px;
    z-index: 1;
}
.product-container__vouchers__voucher__btn{
    padding: 2px;
    background-color: var(--primary-color);
    font-size: 1rem;
    color: var(--white-color);
    height: 28px;
    width: 44px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Other product _______________________________________________________________________________ */
.product-container__other-product {
    grid-area: others;
    margin-top: 40px;
}
.product-container__other-product__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.product-container__other-product__title{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.54);
}
.product-container__other-product__btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 5px 7px;
    cursor: pointer;
}
.product-container__other-product__content{
    position: relative;

}
.product-container__other-product__content__slider{
    overflow: hidden;
}
.product-container__other-product__content__item-list{
    width: 100%;
    height: 100%;
    display: flex;
}

.product-container__other-product__content__products-item {
    width: 16.666667%;
    margin: 5px;
    border: 0.5px solid rgba(0,0,0,.0902);
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-container__other-product__content__products-item:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.09);
    transform: translateY(-1px);
}
.product-container__other-product__content__products-item__img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 147px;
    height: 147px;
    position: relative;
}
.product-container__other-product__content__products-item__favorite {
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: -3px;
}

.product-container__other-product__content__products-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    background-color: rgba(255, 233, 122, 1);
    display: flex;
    align-items: center;
}
.product-container__other-product__content__products-item__sale-text {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 1px 4px;
}
.product-container__other-product__content__products-item__benefit {
    height: 100%;
    background-size: contain;
}
.product-container__other-product__content__products-item__type {
    background-color: rgba(0,0,0,.25882);
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: flex;
}
.product-container__other-product__content__products-item__type-icon {
    color: var(--white-color);
    margin: auto;
}
.product-container__other-product__content__products-item__type-text {
    color: var(--white-color);
    font-size: 1.2rem;
    margin: auto;
    line-height: 8px;
}


.product-container__other-product__content__products-item__content {
    width: 147px;
    height: 100px;
    padding: 8px;
    background-color: var(--white-color);
}
.product-container__other-product__content__products-item__content__name {
    font-size: 1.4rem;
    padding-bottom: 8px;
    display: block;
    color: var(--text-color);
}
.product-container__other-product__content__products-item__content__voucher {
    width: 100%;
    display: flex;
    margin-bottom: 14px;
}
.product-container__other-product__content__products-item__content__voucher-sale-of {
    height: 16px;
    display: flex;
}   
.product-container__other-product__content__products-item__content__voucher-sale-of-text {
    background-color: rgb(246, 145, 19);
    padding: 0 1px;
    font-weight: 500;
    color: var(--white-color);
}
.product-container__other-product__content__products-item__content__voucher-flash-sale {
    height: 16px;
    color: var(--primary-color);
    display: flex;
}
.product-container__other-product__content__products-item__content__voucher-flash-sale-text {
    height: 16px;
    position: relative;
}
.product-container__other-product__content__products-item__content__voucher-flash-sale-text::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    top: 0px;
}
.product-container__other-product__content__products-item__content__voucher-flash-sale-text::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    bottom: 0.3px;
}
.product-container__other-product__content__products-item__content__price {
    display: flex;
    justify-content: space-between;
}
.product-container__other-product__content__products-item__content__price-text {
    font-size: 1.6rem;
    color: var(--primary-color);
    display: flex;
}
.product-container__other-product__content__products-item__content__price-unit {
    font-size: 1.2rem;
    
}   
.product-container__other-product__content__products-item__content__price-sold {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}   

.product-container__other-product__content__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* May like product ____________________________________________________________________________ */
.product-container__may-like-product {
    grid-area: may-like;
}

.product-container__may-like-product__title {
    font-size: 1.6rem;
    padding:10px 0;
    color: rgba(0, 0, 0, 0.54);
}
.product-container__may-like-product__product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-container__may-like-product__products-item {
    margin: 5px;
    border: 0.5px solid rgba(0,0,0,.0902);
    transition: all 0.3s ease;
    cursor: pointer;
}
.product-container__may-like-product__products-item:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.09);
    transform: translateY(-1px);
}
.product-container__may-like-product__products-item__img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 147px;
    height: 147px;
    position: relative;
}
.product-container__may-like-product__products-item__favorite {
    
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: -3px;
}

.product-container__may-like-product__products-item__sale {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    background-color: rgba(255, 233, 122, 1);
    display: flex;
    align-items: center;
}
.product-container__may-like-product__products-item__sale-text {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 1px 4px;
}
.product-container__may-like-product__products-item__benefit {
    height: 100%;
    background-size: contain;
}
.product-container__may-like-product__products-item__type {
    background-color: rgba(0,0,0,.25882);
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: flex;
}
.product-container__may-like-product__products-item__type-icon {
    color: var(--white-color);
    margin: auto;
}
.product-container__may-like-product__products-item__type-text {
    color: var(--white-color);
    font-size: 1.2rem;
    margin: auto;
    line-height: 8px;
}


.product-container__may-like-product__products-item__content {
    width: 147px;
    height: 100px;
    padding: 8px;
    background-color: var(--white-color);
}
.product-container__may-like-product__products-item__content__name {
    font-size: 1.4rem;
    padding-bottom: 8px;
    display: block;
    color: var(--text-color);
}
.product-container__may-like-product__products-item__content__voucher {
    width: 100%;
    display: flex;
    margin-bottom: 14px;
}
.product-container__may-like-product__products-item__content__voucher-sale-of {
    height: 16px;
    display: flex;
}   
.product-container__may-like-product__products-item__content__voucher-sale-of-text {
    background-color: rgb(246, 145, 19);
    padding: 0 1px;
    font-weight: 500;
    color: var(--white-color);
}
.product-container__may-like-product__products-item__content__voucher-flash-sale {
    height: 16px;
    color: var(--primary-color);
    display: flex;
}
.product-container__may-like-product__products-item__content__voucher-flash-sale-text {
    height: 16px;
    position: relative;
}
.product-container__may-like-product__products-item__content__voucher-flash-sale-text::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    top: 0px;
}
.product-container__may-like-product__products-item__content__voucher-flash-sale-text::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(239, 88, 58);
    transform: scaleY(0.5);
    bottom: 0.3px;
}
.product-container__may-like-product__products-item__content__price {
    display: flex;
    justify-content: space-between;
}
.product-container__may-like-product__products-item__content__price-text {
    font-size: 1.6rem;
    color: var(--primary-color);
    display: flex;
}
.product-container__may-like-product__products-item__content__price-unit {
    font-size: 1.2rem;
    
}   
.product-container__may-like-product__products-item__content__price-sold {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}   


.product-container__may-like-product__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.product-container__may-like-product__btn {
    width: 390px;
    height: 40px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.4rem;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-container__may-like-product__btn:hover {
    background-color: rgba(0, 0, 0, 0.02);
}



/* Footer _______________________________________________________________________ */
.product-footer {
    margin-top: 60px;
    border-top: 4px solid var(--primary-color);
}
.product-footer__information {
    display: flex;
}
.product-footer__information__transport {
    display: flex;
    flex-direction: column;
}
.product-footer__information__trans__header {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
.product-footer__information__socials__list-item {
    display: flex;
    align-items: center;
}


.product-footer__information__download {
    width: 200px;
}
.product-footer__information__download-header {

}
.product-footer__information__download__list {
    display: flex;
}
.product-footer__information__download__list-qr {
    height: 88px;
    width: 88px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    margin-right: 12px;
    cursor: pointer;
}
.product-footer__information__download__list-store {

}
.product-footer__information__download__list-store-item {
    margin-bottom: 8px;
    width: 76px;
    height: 24px;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    cursor: pointer;
}
.product-footer__information__download__list-store-item-img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

