/* TaskList.css */
.task-list-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 200px;
  display: table;
  width: 100%;
}

.task-list-title {
  color: #333;
}

.user-data-container {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data {
  font-weight: bold;
  margin-bottom: 5px;
}

.toggle-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Thêm quy tắc CSS để hiển thị và ẩn user-data-content */
.user-data-content {
  display: none;
}

.user-data-content.visible {
  display: block;
}

.user-data-content.hidden {
  display: none;
}
