.ToDoList {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 75px;
    padding-bottom: 86px;
  }

  .heading h1 {
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 51px;
    background: linear-gradient(270.16deg, #cc00ff -2.84%, #5756ff 33.42%, #07fdfd 99.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .todo__status {
    gap: 19px;
  }

  .todo__list {
    gap: 12px;
  }
}
