.ToDoItem {
  .todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(240, 240, 240, 0.25);
    transition: scale 0.075s ease-in-out;

    &:hover {
      outline: 1px solid #d9d9d9;
    }
  }

  .todo__item--content {
    font-size: 20px;
    line-height: 25px;
    color: #5a5a5a;
  }

  .todo__item--actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.075s ease-in-out;

    &:hover {
      scale: 1.1;
    }

    &__remove {
      background-image: url('~/src/assets/icons/trash.svg');
    }
    &__edit {
      background-image: url('~/src/assets/icons/pencil-square.svg');
    }
    &__complete {
      background-image: url('~/src/assets/icons/check-circle.svg');
    }
  }

  .editing {
    scale: 1.1;
    outline: 1px solid #d9d9d9;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .completed {
    scale: 0.9;
    opacity: 0.5;
  }
}
