/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
  --color-dark-blue: #202040;
  --color-medium-blue: #404081;
  --color-light-blue: #40bec7;
  --color-light-red: #ff6363;
  --color-light-grey: #eaeaea;
  --fs-large: 2.5rem; /* 25px */
  --fs-medium: 1.8rem; /* 18px */
  --fs-small: 1.6rem; /* 16px */
}

body {
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
  font-size: var(--fs-small);
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 3rem;
  color: inherit;
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-light-grey);
  font-family: inherit;
  font-weight: bold;
  font-size: var(--fs-medium);
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: var(--color-light-blue) 0px 3px 0px;
}

.btn:hover {
  color: black;
  background-color: var(--color-light-blue);
  box-shadow: var(--color-light-blue) 0px 0px 0px;
  transform: translateY(3px);
}
