* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
  background-color: black;
}

@font-face {
  font-family: "Games";
  src: url("font/Games-Italic.ttf");
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("font/PermanentMarker-Regular.ttf");
}

#readyScreen,
#FinishGame,
#settingScreen,
#changeSpaceShip,
#setLevel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#settingScreen,
#setLevel {
  justify-content: center;
  color: white;
}

#changeSpaceShip {
  color: white;
}

#setLevel button {
  background-color: #bf9000;
}

#setLevel button:hover {
  background-color: #b45f06;
}

#settingScreen button {
  border-style: solid;
  border-radius: 10px;
  background-color: #ff6347;
  width: 300px;
}

#settingScreen label {
  color: white;
  font-family: "Games", sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
}

.volume {
  width: 300px;
  margin-bottom: 15px;
}

button {
  width: 275px;
  height: 50px;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Games", sans-serif;
  background-color: #39c5bb;
  color: white;
  border-color: white;
  margin: 15px 0;
}

.buttonSetting {
  width: 150px !important;
  border-width: 0px;
  font-weight: bold;
  font-family: "Arials", sans-serif;
  background-color: #1a8bdf;
  margin: 10px 20px;
  box-shadow: 0 9px #999;
}

.buttonSetting:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#ReturnSetting {
  background-color: red !important;
}

#ApplySetting {
  background-color: #4dba58 !important;
}

#Score {
  font-family: "Games", sans-serif;
  color: yellow;
  font-size: 50px;
}

h1 {
  margin-top: 20vh;
  color: white;
  font-family: "Games", sans-serif;
  font-size: 75px;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
}

#chooseCharSpaceShip {
  overflow: auto;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  height: 260px;
}

.itemGrid {
  margin: 15px;
}

#Levels {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
  margin-bottom: 25px;
  padding-right: 20px;
  overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
  #readyScreen,
  #FinishGame,
  #settingScreen,
  #changeSpaceShip {
    padding: 5px;
  }

  h1 {
    margin-top: 15vh;
    font-size: 50px;
  }

  #chooseCharSpaceShip {
    grid-template-columns: auto auto auto;
  }

  .itemGrid {
    margin: 10px;
  }
}

.hidden {
  display: none;
}
