* {
  /* margin: 0;
    padding: 0; */
}
div {
  border: 5px solid brown;
  width: 500px;
  height: 300px;
  /* xác định kiểu font chữ */
  font-family: 'Roboto', sans-serif;
  /* Xác định font size của chữ */
  font-size: 20px;
  /* Xác định độ đậm của chữ */
  font-weight: 400;
  /* Xác định style của chữ */
  font-style: italic;
  /* biến đổi loại chữ (in hoa) */
  text-transform: none;
  /* căn chỉnh text so với box */
  text-align: left;
  /* khoảng cách giữa các dòng(1.2 - 2) */
  line-height: 1.5;
}

ul li a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* 2. layout for text */
