$color_1: #fff;
$font-family_1: "Arvo", serif;

/*======================
    404 page
=======================*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: $font-family_1;

  img {
    width: 100%;
  }
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;

  h1 {
    font-size: 80px;
  }

  h3 {
    font-size: 80px;
  }
}

.link_404 {
  color: $color_1 !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

.contant_box_404 {
  margin-top: -50px;
}
