.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

.delete {
  cursor: pointer;
  margin-left: 4px;
}

.todoItem {
  cursor: pointer;
}
