body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  background-color: #586f8a;
  color: #f8f9fb;
}

h1 {
  text-shadow: 0 2px 4px rgba(29, 30, 34, 0.4);
}

.grid-item, button {
  border: 1px solid rgba(3, 3, 3, 0.1);
  box-shadow: 0px 0.3px 0.6px -5px rgba(3, 3, 3, 0.3), 0px 0.9px 1.6px -5px rgba(3, 3, 3, 0.203), 0px 1.8px 3.3px -5px rgba(3, 3, 3, 0.166), 0px 3.7px 6.9px -5px rgba(3, 3, 3, 0.134), 0px 10px 20px -5px rgba(3, 3, 3, 0.054);
  border-radius: 10px;
}

button {
  padding: 8px 15px;
  border-radius: 8px;
  background-color: #f8f9fb;
  color: #612C2A;
}

.container {
  margin: 0 auto 10rem;
  max-width: 900px;
}

.grid {
  display: grid;
  padding: 40px 0 0;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 15px;
  grid-gap: 30px;
}
@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
.grid img {
  width: auto;
}
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f8fa;
  padding: 20px 25px;
  overflow: hidden;
}
.grid-item .grid-image {
  display: block;
  height: auto;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 5px;
}
.grid-item .grid-image img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.grid-item .grid-text {
  margin-top: 5px;
  height: 2rem;
  color: #555;
}
.grid-item-loading {
  grid-row-end: span 6;
}
.grid-item-loading .grid-text, .grid-item-loading .grid-image {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: #efefef;
  overflow: hidden;
  padding: 5px;
  color: #efefef;
}
.grid-item-loading .grid-text:before, .grid-item-loading .grid-image:before {
  display: block;
  content: " ";
  width: 150%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%, #cfcfcf 95%, transparent 100%);
  color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1.5s;
  animation-name: load;
  animation-iteration-count: infinite;
  transition: all 1s;
}
.grid-item-loading .grid-image {
  height: 90%;
}
.grid-item-loading .grid-image img {
  opacity: 0;
}
.grid-item-loading .grid-text {
  min-height: 2rem;
}

@keyframes load {
  0% {
    left: -150%;
  }
}