:root {
  /* --primary-color: #ec1f55; */
  --primary-color: #0bac96;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  /* background: linear-gradient(#6FC3F7,#C2FDFF); */
  background: url("../img/background.gif");
  background-size: cover;
  background-attachment: fixed;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: auto;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  z-index: 2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

.cd-thumb::before {
  width: 25px;
  height: 25px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 100;
  border-radius: 50%;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  overflow: hidden;
}

.progress::-webkit-slider-thumb {
  /* appearance: none; */
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  box-shadow: -500px 0 0 500px var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.progress::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.progress-bottom {
  display: flex;
  justify-content: space-between;
}

/* PLAYLIST */
.playlist {
  margin-top: 438px;
  overflow: auto;
  height: 100vh;
}
.playlist::-webkit-scrollbar {
  display: none;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  /* max-height: 62px ; */
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 14px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
  position: relative;
}

.option-list {
  list-style: none;
  position: absolute;
  z-index: 1;
  padding: 16px;
  background-color: rebeccapurple;
  right: 0;
  display: none;
  border-radius: 5px;
}

.option-item {
  width: 150px;
  padding: 0;
}

@media (max-width: 739px) {
  body {
    background: #d3d3d3;
  }
  .song {
    margin: 0 16px 12px;
  }
  .song .title {
    font-size: 14px;
  }
  .song .author {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
}

@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
