.register-container {
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-top: 20px;

  .content-left {
    margin-top: 50px;

    .brand {
      text-transform: uppercase;
      font-size: 30px;
      color: #1877f2;
    }

    .detail {
      font-size: 18px;
    }
  }

  .content-right {
    .brand {
      text-transform: uppercase;
      font-size: 20px;
      color: #1877f2;
      text-align: center;
      font-weight: 600;
    }

    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;

    .forgot-password {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
