/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

/* config default content */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #aeb9eb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper_menu {
  display: flex;
  justify-content: space-between;
}
