* {
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
  background-color: #008a7b;
  text-align: center;
}

header h1 {
  display: inline-block;
  color: #ed7209;
  text-transform: uppercase;
  margin-bottom: 40px;
}

header nav a {
  background-color: #80c5bd;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: bold;
  color: #389aa5;
  text-decoration: none;
  margin-right: 50px;
}

header nav {
  margin-top: 10px;
}

.active {
  background-color: #ffcca4;
  color: #b7865d;
  margin-left: 50px;
}

.top {
  text-align: center;
  margin-top: 20px;
}

section a img {
  width: 200px;
  height: 200px;
}

.bottom h2 {
  color: #118096;
  font-family: "Archivo Narrow", sans-serif;
}

#team {
  float: left;
}

#team tr th {
  background-color: #ff6600;
}

#team tr td {
  background-color: #ff9966;
}

#myform {
  background-color: #ffff99;
  float: right;
  width: 40%;
}

caption {
  display: inline-block;
  margin-left: 100px;
  font-size: 30px;
}

#showmore {
  color: #647fff;
}
