:root {
  --color-primary: yellow;
}
.box1 {
  background: var(--color-primary);
  margin-bottom: 20px;
  --color-primary-box1: red;
}
.nested {
  color: var(--color-primary-box1);
}
.box2 {
  background: var(--color-primary);
}
