body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

/* Thêm một số kiểu màu cho các button */
button:nth-child(1) {
  background-color: #4caf50;
  color: white;
}

button:nth-child(2) {
  background-color: #f44336;
  color: white;
}

button:nth-child(3) {
  background-color: #2196f3;
  color: white;
}

/* Thêm hiệu ứng hover cho các button */
button:hover {
  opacity: 0.8;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
