.container {
  width: 1200px;
  margin: 0 auto;
}
.btn {
  padding: 6px 15px;
  border: none;
  margin-top: 10px;
  color: #171616;
}
.btn-primary {
  background-color: turquoise;
}

.btn-primary:hover {
  cursor: pointer;
}

.btn-warning {
  background-color: yellow;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
}

.flex_box .item {
  width: 20%;
  background-color: antiquewhite;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.flex_box .item:nth-child(2) {
  background-color: aquamarine;
}
.flex_box .item:last-child {
  background-color: rgb(255, 225, 127);
}

.flex_box .item:hover {
  cursor: pointer;
}
