:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
    }
  } */

.dark {
  --background: 0, 0%, 8%;
  --foreground: 0, 0%, 98%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html.has-scroll-smooth {
    backface-visibility: hidden;
    transform: translateZ(0);
  }
}
