* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* đưa tất cả nội dung ra giữa */
.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
/* đưa label trên 1 hàng */
.form-group label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

.form-group {
  width: 100%;
}

.form-group input,
.form-group textarea {
  padding: 6px 12px;
  display: block;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}
.submit input {
  background-color: #81d681;
  color: white;
  margin-top: 10px;
}
.content_form {
  margin-left: 20px;
}
