.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--web-text);

  ::selection {
    background: var(--web-light);
  }

  hr {
    opacity: 0.2;
  }

  ul {
    padding-left: 20px;
    line-height: 1.6;
  }

  h3 {
    margin: 21px 0;
  }

  p {
    margin: 6px 0;
    line-height: 1.4;
  }
}
