#dropdown {
  color: red;
  background-color: #6a5af9;
  transition: translateY(-50%, -50%);
  position: relative;
  &_ {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #6a5af9;
    color: #fff;
    z-index: 1;
  }
}
