* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 100px 30px;
  background-color: #fff;
}

[data-toggle='modal'] {
  border: 2px solid;
  padding: 15px 25px;
  background-color: #0a6cf1;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

[data-title] {
  color: red;
}

p {
  padding: 30px;
}

.container.box {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 1);
}
