<!DOCTYPE html>
<html lang="en" class="root">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sliding Puzzle in Vue </title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:700&display=swap" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="board">
	<form id="game-board" @click.prevent="handleClick" :aria-label="`${howManyCorrect} of ${ratioSquared} tiles correctly placed.`">
		<transition-group
			name="slide"
			id="innerBoard"
			tag="div"
			:style="{gridTemplateColumns: `repeat(${ratio}, 1fr)`, gridTemplateColumns: `repeat(${ratio}, 1fr)`}"
		>
			<button 
				v-for="(square, index) in squares" 
				:key="square.val" @keyup.prevent="handleArrow"
				:index="index" :ref="!square.val && 'empty'" 
				:class="`square ${square.val -1 == index ? 'correct' : ''} ${square.isPossibleMove ? 'possible-move' : ''}`" 
				:aria-label="getAccessibleSquarePosition(square.val, index)"
			>
				<span v-if="square.val">{{square.val}}</span>
			</button>
		</transition-group>
		
		<transition name="fade">
			<div v-if="!gameStarted" class="loader">
				<p>
					Randomizing solvable puzzle
					<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>	
				</p>
			</div>
		</transition>
	</form>
	
	<p>Play with <span role="img" aria-label="mouse">🖱️</span>, <span role="img" aria-label="touch">👆</span>, or <span role="img" aria-label="keyboard arrow keys">⌨️ ⬆️ ➡️ ⬇️ ⬅️</span></p>
	
	<form id="options">
		<div class="options-group">
			<input v-model="invertSwipe" type="checkbox" id="invert-swipe">
			<label for="invert-swipe">Invert swipe directions</label>
		</div>
		<button @click.prevent="randomizeBoard">Re-Shuffle</button>
	</form>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js'></script><script  src="./script.js"></script>

</body>
</html>
