* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow: hidden;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: red;
  color: white;
  width: 100vw;
  text-align: center;
  height: 200px;
  position: relative;
  padding: 50px 0;
}

h1 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 3rem;
}

p {
  margin: 0 25vw;
  margin-top: 5px;
  text-align: right;
}

#BauCua {
  margin-top: 50px;
  border: 2px solid black;
  width: 70vw;
  height: 150px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  place-items: center;
}

#BauCua img {
  border: 2px solid red;
  border-radius: 15px;
  background-color: darkred;
  padding: 10px;
  max-width: 28vw;
  max-height: 28vw;
}

#submit {
  width: 150px;
  border-width: 0px;
  font-weight: bold;
  font-family: "Arials", sans-serif;
  background-color: red;
  margin: 10px 20px;
  box-shadow: 0 9px #999;
  color: white;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 50px;
}

#submit:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.block {
  cursor: no-drop !important;
}

.block:active {
  box-shadow: 0 9px #999 !important;
  transform: translateY(0px) !important;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(4px, 5px) rotate(0deg);
  }
  40% {
    transform: translate(4px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(5px, -2px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    margin: 5px 0;
    text-align: center;
  }

  #BauCua {
    width: 95vw;
  }
}
