.tutorial-item {
  width: calc(100% / 3 - 20px);
  max-width: 500px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid var(--divider);
  display: flex;
  align-items: center;
  &-image {
    width: 125px;
    height: 125px;
    padding: 20px;
    border: 4px solid var(--divider);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
      overflow: hidden;
      object-fit: contain;
    }
  }

  .btn {
    border-radius: 25px;
    background-color: var(--web-active);
    padding: 10px 20px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
  }
}
