.learning {
  .group-learning-paths {
    flex-wrap: wrap;
    display: flex;
    margin: 30px 0;
  }
  .group-official {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    img {
      width: 420px;
      height: 420px;
      object-fit: cover;
    }

    .btn {
      border-radius: 25px;
      background-color: var(--web-active);
      padding: 10px 20px;
      box-shadow: none;
      outline: none;
      cursor: pointer;
    }
  }
  .markdown-paragraph {
    border-left: 2px solid var(--divider);
    color: var(--divider);
  }
  .learn-paths {
    & .left {
      width: 66vw;
    }
    & .right {
      text-align: right;
    }
    &-item {
      &-course {
        border: 2px solid var(--divider);
        & .size-default {
          & img {
            cursor: pointer;
            width: 230px;
            height: fit-content;
            object-fit: cover;
            border-radius: 15px;
            margin-right: 25px;
          }
          & h2 {
            cursor: pointer;
            font-size: 1.5rem !important;
          }
          & .content {
            -webkit-line-clamp: 2;
          }
        }

        & .size-small {
          margin-bottom: 20px;
          & h2 {
            font-size: 1.2rem !important;
            cursor: pointer;
          }
          & img {
            cursor: pointer;
            max-width: 130px;
            height: fit-content;
            border-radius: 10px;
            margin-right: 20px;
          }
          & .content {
            -webkit-line-clamp: 1;
          }
        }
        & .current-price {
          color: #e23841;
        }
        & .content {
          width: 100%;
          display: block;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &-subcourse {
        padding-left: 25px;
      }
    }
    & .image-ads {
      margin-bottom: 30px;
      border-radius: 10px;
      width: 100%;
      max-width: 300px;
      height: fit-content;
      max-height: 250px;
      cursor: pointer;
    }
  }
}
